In [1]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import seaborn as sns

### 1. Exploration of data

In [149]:
# Average daily income [$ american dollars]
average_daily_income = pd.read_csv('./data/average_daily_income.csv', sep=';')
average_daily_income.shape

(195, 223)

In [150]:
average_daily_income.duplicated().sum()

0

In [151]:
average_daily_income.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,919.00,919.00,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,Angola,2.27,2.27,2.28,2.29,2.30,2.31,2.32,2.33,2.35,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
2,Albania,1.22,1.22,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,Andorra,1.48,1.49,1.49,1.49,1.49,1.50,1.50,1.50,1.51,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,United Arab Emirates,2.90,2.91,2.92,2.93,2.94,2.95,2.96,2.97,2.98,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80

In [152]:
average_daily_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 223 entries, country to 2021
dtypes: float64(222), object(1)
memory usage: 339.9+ KB

In [153]:
average_daily_income.isnull().sum()

country    0
1800       0
1801       0
1802       0
1803       0
          ..
2017       0
2018       0
2019       0
2020       0
2021       0
Length: 223, dtype: int64

In [154]:
# to check if there are any null values in the df.
average_daily_income.isnull().any().any()

False

In [155]:
continents = pd.read_csv('./data/continents.csv', sep=';')
continents.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [156]:
continents.duplicated().sum()

0

In [157]:
continents.shape

(194, 2)

In [158]:
continents.isnull().any().any()

False

In [159]:
# Democracy Index [0 to 100]
democracy = pd.read_csv('./data/democracy.csv')
democracy.head()

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,30.6,30.4,30.2,27.5,24.8,24.8,24.8,24.8,27.7,27.7,25.5,25.5,29.7,28.5,28.5
1,Angola,24.1,28.8,33.5,33.4,33.2,33.2,33.5,33.5,33.5,33.5,34.0,36.2,36.2,37.2,36.6
2,Albania,59.1,59.1,59.1,58.9,58.6,58.1,56.7,56.7,56.7,59.1,59.1,59.8,59.8,58.9,60.8
3,United Arab Emirates,24.2,25.1,26.0,25.6,25.2,25.8,25.8,25.2,26.4,27.5,27.5,26.9,27.6,27.6,27.0
4,Argentina,66.3,66.3,66.3,67.3,68.4,68.4,68.4,68.4,68.4,70.2,69.6,69.6,70.2,70.2,69.5

The Democracy Index is based on 60 indicators, grouped into five categories: electoral process and pluralism, civil liberties, functioning of government, political participation and political culture.

In [160]:
democracy.duplicated().sum()

0

In [161]:
democracy.shape

(167, 16)

In [162]:
democracy.isnull().any().any()

True

In [163]:
democracy.isnull().sum()

country    0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       4
dtype: int64

In [164]:
democracy[democracy['2020'].isnull()]

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
42,Algeria,31.7,32.5,33.2,33.8,34.4,34.4,38.3,38.3,38.3,39.5,35.6,35.6,35.0,40.1,NaN
71,Iran,29.3,28.8,28.3,23.9,19.4,19.8,19.8,19.8,19.8,21.6,23.4,24.5,24.5,23.8,NaN
91,Lithuania,74.3,74.0,73.6,73.0,72.4,72.4,72.4,75.4,75.4,75.4,74.7,74.1,75.0,75.0,NaN
157,Ukraine,69.4,69.4,69.4,66.2,63.0,59.4,59.1,58.4,54.2,57.0,57.0,56.9,56.9,59.0,NaN

In [165]:
# Index of functioning government (EIU) [0 to 100]
functioning_government = pd.read_csv('./data/functioning_government.csv')
functioning_government.head()

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,0.0,3.95,7.9,7.9,7.9,7.9,7.9,7.9,11.4,11.4,11.4,11.4,11.4,6.4,6.4
1,Angola,21.4,26.80,32.1,32.1,32.1,32.1,32.1,32.1,32.1,32.1,32.1,28.6,28.6,28.6,28.6
2,Albania,50.7,50.70,50.7,50.7,50.7,47.1,40.0,40.0,40.0,43.6,43.6,47.1,47.1,53.6,53.6
3,United Arab Emirates,30.7,35.00,39.3,37.5,35.7,35.7,35.7,35.7,35.7,35.7,35.7,35.7,39.3,39.3,39.3
4,Argentina,50.0,50.00,50.0,53.5,57.1,57.1,57.1,57.1,57.1,50.0,50.0,50.0,53.6,53.6,53.6

Functioning government
The variable captures the extent to which citizens have a functioning government that acts on their behalf.

It ranges from 0 to 10 (most effective).

It matches the variable GovernmentindexEIU in gapminder, with a few missing countries for 2020 and all for 2021 added.

Source
Economist Intelligence Unit (2023), Economist Intelligence Unit (2021) via gapminder â€“ processed by Our World in Data
Links
http://www.gapm.io/dxlsdemocrix (for years 2006-2020)
https://www.eiu.com/n/campaigns/democracy-index-2021/ (for year 2021)
https://www.eiu.com/n/campaigns/democracy-index-2022/ (for year 2022)

In [166]:
functioning_government.duplicated().sum()

0

In [167]:
functioning_government.shape

(167, 16)

In [168]:
functioning_government.isnull().any().any()

True

In [169]:
functioning_government.isnull().sum()

country    0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       4
dtype: int64

In [170]:
functioning_government[functioning_government['2020'].isnull()]

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
42,Algeria,22.1,22.1,22.1,22.1,22.1,22.1,22.1,22.1,22.1,22.1,22.1,22.1,22.1,28.6,NaN
71,Iran,35.7,32.1,28.6,30.4,32.1,28.6,28.6,28.6,28.6,28.6,32.1,32.1,32.1,28.6,NaN
91,Lithuania,64.3,60.7,57.1,57.1,57.1,57.1,57.1,60.7,60.7,60.7,57.1,57.1,64.3,64.3,NaN
157,Ukraine,57.1,55.4,53.6,51.8,50.0,46.4,46.4,42.9,39.3,39.3,39.3,32.1,32.1,27.1,NaN

In [171]:
# Happiness score (from the Happiness world report)[0 to 100]
happiness_score = pd.read_csv('./data/happiness_score_whr.csv')
happiness_score.head()

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,37.2,44.0,47.6,38.3,37.8,35.7,31.3,39.8,42.2,26.6,26.9,25.7
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,46.3,NaN,54.9,52.7,58.7,55.1,45.5,48.1,46.1,45.1,46.4,50.0,48.8
3,United Arab Emirates,NaN,67.3,NaN,NaN,68.7,71.0,71.2,72.2,66.2,65.4,65.7,68.3,70.4,66.0,67.9
4,Argentina,NaN,63.1,60.7,59.6,64.2,64.4,67.8,64.7,65.8,66.7,67.0,64.3,60.4,57.9,59.7

In [172]:
happiness_score.duplicated().sum()

0

In [173]:
happiness_score.shape

(163, 16)

In [174]:
happiness_score.isnull().sum().sum()

608

In [175]:
missing_values_happiness = happiness_score[happiness_score['2019'].isnull()]
missing_values_happiness

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN
18,Belize,NaN,NaN,64.5,NaN,NaN,NaN,NaN,NaN,NaN,59.6,NaN,NaN,NaN,NaN,NaN
21,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.7,49.4,50.8,NaN,NaN,NaN,NaN
35,Cuba,NaN,54.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Djibouti,NaN,NaN,NaN,50.1,49.1,50.1,43.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Guyana,NaN,NaN,59.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Oman,NaN,NaN,NaN,NaN,NaN,NaN,68.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Qatar,NaN,NaN,NaN,NaN,64.2,68.5,65.9,66.1,NaN,NaN,63.7,NaN,NaN,NaN,NaN
128,Sudan,NaN,NaN,NaN,NaN,44.5,44.4,43.1,45.5,NaN,41.4,NaN,NaN,NaN,NaN,NaN
133,Somalia,NaN,NaN,NaN,NaN,49.9,46.6,49.3,50.6,NaN,55.3,53.5,46.7,NaN,NaN,NaN
136,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Syria,NaN,NaN,NaN,53.2,49.8,44.6,40.4,31.6,26.9,NaN,34.6,NaN,NaN,NaN,NaN

In [29]:
# Income Inequality= [Gini coefficient from 0 to 100:= complete inequality]
# Gini coefficient, 0 = complete equality; 1 = complete inequality
income_inequality = pd.read_csv('./data/income-inequality.csv', sep=';')
income_inequality.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,37.7,37.7,37.7,37.7,37.7,37.7,37.7,37.7,38.3,39.0
1,Angola,57.7,57.7,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,46.0,46.8,47.7,48.5,49.4,50.3,51.3,51.3,52.1,53.0
2,Albania,39.9,39.9,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,29.0,31.6,34.6,32.9,33.7,33.2,33.2,33.2,33.8,34.5
3,Andorra,42.5,42.5,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.5,35.4,35.4,35.3,35.2,35.2,35.1,35.0,35.0,35.0
4,United Arab Emirates,39.8,39.8,39.8,39.8,39.8,39.8,39.8,39.7,39.7,...,32.6,32.5,31.1,29.7,28.4,27.2,26.0,26.0,26.0,26.7

In [29]:
# Income Inequality= [Gini coefficient from 0 to 100:= complete inequality]
# Gini coefficient, 0 = complete equality; 1 = complete inequality
income_inequality = pd.read_csv('./data/income-inequality.csv', sep=';')
income_inequality.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,37.7,37.7,37.7,37.7,37.7,37.7,37.7,37.7,38.3,39.0
1,Angola,57.7,57.7,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,46.0,46.8,47.7,48.5,49.4,50.3,51.3,51.3,52.1,53.0
2,Albania,39.9,39.9,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,29.0,31.6,34.6,32.9,33.7,33.2,33.2,33.2,33.8,34.5
3,Andorra,42.5,42.5,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.5,35.4,35.4,35.3,35.2,35.2,35.1,35.0,35.0,35.0
4,United Arab Emirates,39.8,39.8,39.8,39.8,39.8,39.8,39.8,39.7,39.7,...,32.6,32.5,31.1,29.7,28.4,27.2,26.0,26.0,26.0,26.7

In [30]:
income_inequality.duplicated().sum()

0

In [31]:
income_inequality.shape

(197, 223)

In [32]:
income_inequality.isnull().any().any()

False

In [33]:
# Population [# of people]
population = pd.read_csv('./data/population_wb.csv')
population.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [34]:
population.duplicated().sum()

0

In [35]:
population.shape

(266, 63)

In [36]:
population.isnull().any().any()

True

In [37]:
population.isnull().sum().sum()

103

In [38]:
# In which specific column are there any missing values
population.loc[:, population.isnull().any()].columns

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [39]:
# changing name of column Country Name and Country Code
population.columns = population.columns.str.lower()
population.head()

,country name,country code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [40]:
population.rename(columns = {'country name': 'country', 'country code': 'country_code'}, inplace = True)
population.head(3)

,country,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0

In [41]:
# Women participation in parliament [%]
women_parliament = pd.read_csv('./data/women_in_parliament.csv')
women_parliament.head()

,country,1945,1946,1947,1948,1949,1950,1951,1952,1953,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.4,27.4,27.4,27.4,27.4,27.7,27.8,27.9,27.2,27.2
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.9,34.1,33.5,32.8,32.2,31.6,30.9,30.4,30.0,30.0
2,Albania,3.66,6.46,8.81,10.8,12.5,14.1,13.5,12.9,12.4,...,16.1,15.9,15.7,18.8,21.8,24.8,27.9,28.6,29.5,29.5
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.8,50.0,47.6,44.3,39.3,41.1,42.9,44.6,46.4,46.4
4,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,17.5,19.2,20.8,22.5,29.4,36.3,43.1,50.0,50.0

In [42]:
women_parliament.duplicated().sum()

0

In [43]:
women_parliament.shape

(193, 77)

In [44]:
women_parliament.isnull().any().any()

True

In [45]:
women_parliament.isnull().sum().sum()

4599

In [46]:
# In which specific column are there any missing values
women_parliament.loc[:, women_parliament.isnull().any()].columns

Index(['1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020'],
      dtype='object')

In [47]:
# making a new df with merged with country code
# usable later on for scatter_map or other map visualisation.
countries = pd.merge(continents, population[['country','country_code']],on='country', how='left')

In [48]:
countries.isnull().sum().sum()

27

In [49]:
#complete the missing values 
countries[countries['country_code'].isnull()]

                 continent                           country country_code
4                   Africa                           Burkina          NaN
7                   Africa                        Cape Verde          NaN
11                  Africa                             Congo          NaN
12                  Africa     Congo, Democratic Republic of          NaN
14                  Africa                             Egypt          NaN
19                  Africa                            Gambia          NaN
23                  Africa                       Ivory Coast          NaN
47                  Africa                         Swaziland          NaN
58                    Asia                            Brunei          NaN
59                    Asia                   Burma (Myanmar)          NaN
62                    Asia                        East Timor          NaN
65                    Asia                              Iran          NaN
71                    Asia                      Korea, North          NaN
72                    Asia                      Korea, South          NaN
74                    Asia                        Kyrgyzstan          NaN
75                    Asia                              Laos          NaN
89                    Asia                             Syria          NaN
97                    Asia                             Yemen          NaN
125                 Europe                         Macedonia          NaN
137                 Europe                          Slovakia          NaN
144                 Europe                      Vatican City          NaN
146          North America                           Bahamas          NaN
163          North America             Saint Kitts and Nevis          NaN
164          North America                       Saint Lucia          NaN
165          North America  Saint Vincent and the Grenadines          NaN
172  Australia and Oceania                        Micronesia          NaN
193          South America                         Venezuela          NaN

In [50]:
dict_country_code = {
    'Burkina': 'BFA', 'Cape Verde': 'CPV', 'Congo': 'COG', 'Congo, Democratic Republic of': 'COD',
    'Egypt': 'EGY', 'Gambia': 'GMB', 'Ivory Coast': 'CIV', 'Swaziland': 'SWZ',
    'Brunei': 'BRN', 'Burma (Myanmar)': 'MMR', 'East Timor': 'TLS', 'Iran': 'IRN',
    'Korea, North': 'PRK', 'Korea, South': 'KOR', 'Kyrgyzstan': 'KGZ', 'Laos': 'LAO',
    'Syria': 'SYR', 'Yemen': 'YEM', 'Macedonia': 'MKD', 'Slovakia': 'SVK',
    'Vatican City': 'VAT', 'Bahamas': 'BHS', 'Saint Kitts and Nevis': 'KNA', 'Saint Lucia': 'LCA',
    'Saint Vincent and the Grenadines': 'VCT', 'Micronesia': 'FSM', 'Venezuela': 'VEN'
}

countries['country_code'] = countries['country_code'].fillna(countries['country'].map(dict_country_code),)

In [51]:
countries.isnull().sum()

continent       0
country         0
country_code    0
dtype: int64

In [52]:
countries.shape

(194, 3)

In [53]:
countries.to_csv('./data/countries.csv', index=False)

In [54]:
democracy.head(50)

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,30.6,30.4,30.2,27.5,24.8,24.8,24.8,24.8,27.7,27.7,25.5,25.5,29.7,28.5,28.5
1,Angola,24.1,28.8,33.5,33.4,33.2,33.2,33.5,33.5,33.5,33.5,34.0,36.2,36.2,37.2,36.6
2,Albania,59.1,59.1,59.1,58.9,58.6,58.1,56.7,56.7,56.7,59.1,59.1,59.8,59.8,58.9,60.8
3,United Arab Emirates,24.2,25.1,26.0,25.6,25.2,25.8,25.8,25.2,26.4,27.5,27.5,26.9,27.6,27.6,27.0
4,Argentina,66.3,66.3,66.3,67.3,68.4,68.4,68.4,68.4,68.4,70.2,69.6,69.6,70.2,70.2,69.5
5,Armenia,41.5,41.2,40.9,40.9,40.9,40.9,40.9,40.2,41.3,40.0,38.8,41.1,47.9,55.4,53.5
6,Australia,90.9,90.9,90.9,91.5,92.2,92.2,92.2,91.3,90.1,90.1,90.1,90.9,90.9,90.9,89.6
7,Austria,86.9,85.9,84.9,84.9,84.9,84.9,86.2,84.8,85.4,85.4,84.1,84.2,82.9,82.9,81.6
8,Azerbaijan,33.1,32.5,31.9,31.7,31.5,31.5,31.5,30.6,28.3,27.1,26.5,26.5,26.5,27.5,26.8
9,Burundi,45.1,45.1,45.1,42.6,40.1,40.1,36.0,34.1,33.3,24.9,24.0,23.3,23.3,21.5,21.4
10,Belgium,81.5,81.5,81.6,81.0,80.5,80.5,80.5,80.5,79.3,79.3,77.7,77.8,77.8,76.4,75.1
11,Benin,61.6,61.1,60.6,61.1,61.7,60.6,60.0,58.7,56.5,57.2,56.7,56.1,57.4,50.9,45.8
12,Burkina Faso,37.2,36.6,36.0,36.0,35.9,35.9,35.2,41.5,40.9,47.0,47.0,47.5,47.5,40.4,37.3
13,Bangladesh,61.1,58.1,55.2,57.0,58.7,58.6,58.6,58.6,57.8,57.3,57.3,54.3,55.7,58.8,59.9
14,Bulgaria,71.0,70.6,70.2,69.3,68.4,67.8,67.2,68.3,67.3,71.4,70.1,70.3,70.3,70.3,67.1
15,Bahrain,35.3,34.5,33.8,34.4,34.9,29.2,25.3,28.7,28.7,27.9,27.9,27.1,27.1,25.5,24.9
16,Bosnia and Herzegovina,57.8,57.4,57.0,55.1,53.2,52.4,51.1,50.2,47.8,48.3,48.7,48.7,49.8,48.6,48.4
17,Belarus,33.4,33.4,33.4,33.4,33.4,31.6,30.4,30.4,36.9,36.2,35.4,31.3,31.3,24.8,25.9
18,Bolivia,59.8,60.6,61.5,60.4,59.2,58.4,58.4,57.9,57.9,57.5,56.3,54.9,57.0,48.4,50.8
19,Brazil,73.8,73.8,73.8,72.5,71.2,71.2,71.2,71.2,73.8,69.6,69.0,68.6,69.7,68.6,69.2
20,Bhutan,26.2,34.6,43.0,44.9,46.8,45.7,46.5,48.2,48.7,49.3,49.3,50.8,53.0,53.0,57.1
21,Botswana,76.0,75.3,74.7,75.5,76.3,76.3,78.5,79.8,78.7,78.7,78.7,78.1,78.1,78.1,76.2
22,Central African Republic,16.1,17.4,18.6,18.4,18.2,18.2,19.9,14.9,14.9,15.7,16.1,15.2,15.2,13.2,13.2
23,Canada,90.7,90.7,90.7,90.8,90.8,90.8,90.8,90.8,90.8,90.8,91.5,91.5,91.5,92.2,92.4
24,Switzerland,90.2,90.8,91.5,91.2,90.9,90.9,90.9,90.9,90.9,90.9,90.9,90.3,90.3,90.3,88.3
25,Chile,78.9,78.9,78.9,77.8,76.7,75.4,75.4,78.0,78.0,78.4,77.8,78.4,79.7,80.8,82.8
26,China,29.7,30.1,30.4,30.9,31.4,31.4,30.0,30.0,30.0,31.4,31.4,31.0,33.2,22.6,22.7
27,Cote d'Ivoire,33.8,33.3,32.7,31.4,30.2,30.8,32.5,32.5,35.3,33.1,38.1,39.3,41.5,40.5,41.1
28,Cameroon,32.7,33.6,34.6,34.4,34.1,34.1,34.4,34.1,34.1,36.6,34.6,36.1,32.8,28.5,27.7
29,"Congo, Dem. Rep.",27.6,25.2,22.8,22.1,21.5,21.5,19.2,18.3,17.5,21.1,19.3,16.1,14.9,11.3,11.3
30,"Congo, Rep.",31.9,30.6,29.4,29.1,28.9,28.9,28.9,28.9,28.9,29.1,29.1,32.5,33.1,31.1,31.1
31,Colombia,64.0,64.7,65.4,65.5,65.5,66.3,66.3,65.5,65.5,66.2,66.7,66.7,69.6,71.3,70.4
32,Comoros,39.0,37.4,35.8,35.0,34.1,35.2,35.2,35.2,35.2,37.1,37.1,37.1,37.1,31.5,30.9
33,Cape Verde,74.3,76.2,78.1,78.8,79.4,79.2,79.2,79.2,78.1,78.1,79.4,78.8,78.8,77.8,76.5
34,Costa Rica,80.4,80.4,80.4,80.4,80.4,81.0,81.0,80.3,80.3,79.6,78.8,78.8,80.7,81.3,81.6
35,Cuba,35.2,35.2,35.2,35.2,35.2,35.2,35.2,35.2,35.2,35.2,34.6,33.1,30.0,28.4,28.4
36,Cyprus,76.0,76.5,77.0,75.0,72.9,72.9,72.9,72.9,74.0,75.3,76.5,75.9,75.9,75.9,75.6
37,Czech Republic,81.7,81.8,81.9,81.9,81.9,81.9,81.9,80.6,79.4,79.4,78.2,76.2,76.9,76.9,76.7
38,Germany,88.2,88.2,88.2,86.0,83.8,83.4,83.4,83.1,86.4,86.4,86.3,86.1,86.8,86.8,86.7
39,Djibouti,23.7,23.7,23.7,22.9,22.0,26.8,27.4,29.6,29.9,29.0,28.3,27.6,28.7,27.7,27.1
40,Denmark,95.2,95.2,95.2,95.2,95.2,95.2,95.2,93.8,91.1,91.1,92.0,92.2,92.2,92.2,91.5
41,Dominican Republic,61.3,61.6,62.0,62.0,62.0,62.0,64.9,67.4,66.7,66.7,66.7,66.6,65.4,65.4,63.2
42,Algeria,31.7,32.5,33.2,33.8,34.4,34.4,38.3,38.3,38.3,39.5,35.6,35.6,35.0,40.1,NaN
43,Ecuador,56.4,56.4,56.4,57.0,57.7,57.2,57.8,58.7,58.7,58.7,58.1,60.2,62.7,63.3,61.3
44,Egypt,39.0,39.0,38.9,34.8,30.7,39.5,45.6,32.7,31.6,31.8,33.1,33.6,33.6,30.6,29.3
45,Eritrea,23.1,23.1,23.1,23.1,23.1,23.4,24.0,24.0,24.4,23.7,23.7,23.7,23.7,23.7,21.5
46,Spain,83.4,84.0,84.5,83.0,81.6,80.2,80.2,80.2,80.5,83.0,83.0,80.8,80.8,82.9,81.2
47,Estonia,77.4,77.1,76.8,76.8,76.8,76.1,76.1,76.1,77.4,78.5,78.5,77.9,79.7,79.0,78.4
48,Ethiopia,47.2,46.2,45.2,41.0,36.8,37.9,37.2,38.3,37.2,38.3,36.0,34.2,33.5,34.4,33.8
49,Finland,92.5,92.5,92.5,92.2,91.9,90.6,90.6,90.3,90.3,90.3,90.3,90.3,91.4,92.5,92.0

In [55]:
democracy_miss = pd.merge(democracy,countries[['country','country_code', 'continent']],on='country', how='outer')
democracy_miss.head(30)

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent
0,Afghanistan,30.6,30.4,30.2,27.5,24.8,24.8,24.8,24.8,27.7,27.7,25.5,25.5,29.7,28.5,28.5,AFG,Asia
1,Albania,59.1,59.1,59.1,58.9,58.6,58.1,56.7,56.7,56.7,59.1,59.1,59.8,59.8,58.9,60.8,ALB,Europe
2,Algeria,31.7,32.5,33.2,33.8,34.4,34.4,38.3,38.3,38.3,39.5,35.6,35.6,35.0,40.1,NaN,DZA,Africa
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe
4,Angola,24.1,28.8,33.5,33.4,33.2,33.2,33.5,33.5,33.5,33.5,34.0,36.2,36.2,37.2,36.6,AGO,Africa
5,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATG,North America
6,Argentina,66.3,66.3,66.3,67.3,68.4,68.4,68.4,68.4,68.4,70.2,69.6,69.6,70.2,70.2,69.5,ARG,South America
7,Armenia,41.5,41.2,40.9,40.9,40.9,40.9,40.9,40.2,41.3,40.0,38.8,41.1,47.9,55.4,53.5,ARM,Europe
8,Australia,90.9,90.9,90.9,91.5,92.2,92.2,92.2,91.3,90.1,90.1,90.1,90.9,90.9,90.9,89.6,AUS,Australia and Oceania
9,Austria,86.9,85.9,84.9,84.9,84.9,84.9,86.2,84.8,85.4,85.4,84.1,84.2,82.9,82.9,81.6,AUT,Europe
10,Azerbaijan,33.1,32.5,31.9,31.7,31.5,31.5,31.5,30.6,28.3,27.1,26.5,26.5,26.5,27.5,26.8,AZE,Europe
11,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BHS,North America
12,Bahrain,35.3,34.5,33.8,34.4,34.9,29.2,25.3,28.7,28.7,27.9,27.9,27.1,27.1,25.5,24.9,BHR,Asia
13,Bangladesh,61.1,58.1,55.2,57.0,58.7,58.6,58.6,58.6,57.8,57.3,57.3,54.3,55.7,58.8,59.9,BGD,Asia
14,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRB,North America
15,Belarus,33.4,33.4,33.4,33.4,33.4,31.6,30.4,30.4,36.9,36.2,35.4,31.3,31.3,24.8,25.9,BLR,Europe
16,Belgium,81.5,81.5,81.6,81.0,80.5,80.5,80.5,80.5,79.3,79.3,77.7,77.8,77.8,76.4,75.1,BEL,Europe
17,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BLZ,North America
18,Benin,61.6,61.1,60.6,61.1,61.7,60.6,60.0,58.7,56.5,57.2,56.7,56.1,57.4,50.9,45.8,BEN,Africa
19,Bhutan,26.2,34.6,43.0,44.9,46.8,45.7,46.5,48.2,48.7,49.3,49.3,50.8,53.0,53.0,57.1,BTN,Asia
20,Bolivia,59.8,60.6,61.5,60.4,59.2,58.4,58.4,57.9,57.9,57.5,56.3,54.9,57.0,48.4,50.8,BOL,South America
21,Bosnia and Herzegovina,57.8,57.4,57.0,55.1,53.2,52.4,51.1,50.2,47.8,48.3,48.7,48.7,49.8,48.6,48.4,BIH,Europe
22,Botswana,76.0,75.3,74.7,75.5,76.3,76.3,78.5,79.8,78.7,78.7,78.7,78.1,78.1,78.1,76.2,BWA,Africa
23,Brazil,73.8,73.8,73.8,72.5,71.2,71.2,71.2,71.2,73.8,69.6,69.0,68.6,69.7,68.6,69.2,BRA,South America
24,Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRN,Asia
25,Bulgaria,71.0,70.6,70.2,69.3,68.4,67.8,67.2,68.3,67.3,71.4,70.1,70.3,70.3,70.3,67.1,BGR,Europe
26,Burkina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BFA,Africa
27,Burkina Faso,37.2,36.6,36.0,36.0,35.9,35.9,35.2,41.5,40.9,47.0,47.0,47.5,47.5,40.4,37.3,NaN,NaN
28,Burma (Myanmar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMR,Asia
29,Burundi,45.1,45.1,45.1,42.6,40.1,40.1,36.0,34.1,33.3,24.9,24.0,23.3,23.3,21.5,21.4,BDI,Africa

In [56]:
democracy_miss[democracy_miss['continent'].isnull()]

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent
27,Burkina Faso,37.2,36.60,36.0,36.0,35.9,35.9,35.2,41.5,40.9,47.0,47.0,47.5,47.5,40.4,37.3,NaN,NaN
41,"Congo, Dem. Rep.",27.6,25.20,22.8,22.1,21.5,21.5,19.2,18.3,17.5,21.1,19.3,16.1,14.9,11.3,11.3,NaN,NaN
43,"Congo, Rep.",31.9,30.60,29.4,29.1,28.9,28.9,28.9,28.9,28.9,29.1,29.1,32.5,33.1,31.1,31.1,NaN,NaN
45,Cote d'Ivoire,33.8,33.30,32.7,31.4,30.2,30.8,32.5,32.5,35.3,33.1,38.1,39.3,41.5,40.5,41.1,NaN,NaN
61,Eswatini,29.3,29.90,30.4,29.7,29.0,32.6,32.0,32.0,30.9,30.9,30.3,30.3,30.3,31.4,30.8,NaN,NaN
79,"Hong Kong, China",60.3,59.40,58.5,58.9,59.2,59.2,64.2,64.2,64.6,65.0,64.2,63.1,61.5,60.2,55.7,NaN,NaN
99,Kyrgyz Republic,40.8,40.60,40.5,41.8,43.1,43.4,46.9,46.9,52.4,53.3,49.3,51.1,51.1,48.9,42.1,NaN,NaN
101,Lao,21.0,21.00,21.0,21.0,21.0,21.0,23.2,22.1,22.1,22.1,23.7,23.7,23.7,21.4,17.7,NaN,NaN
129,Myanmar,17.7,17.70,17.7,17.7,17.7,17.7,23.5,27.6,30.5,41.4,42.0,38.3,38.3,35.5,30.4,NaN,NaN
138,North Korea,10.3,9.45,8.6,9.7,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,10.8,NaN,NaN
139,North Macedonia,63.3,62.70,62.1,61.9,61.6,61.6,61.6,61.6,62.5,60.2,52.3,55.7,58.7,59.7,58.9,NaN,NaN
144,Palestine,60.1,59.20,58.3,56.4,54.4,49.7,48.0,48.0,47.2,45.7,44.9,44.6,43.9,38.9,38.3,NaN,NaN
154,Russia,50.2,47.50,44.8,43.7,42.6,39.2,37.4,35.9,33.9,33.1,32.4,31.7,29.4,31.1,33.1,NaN,NaN
169,Slovak Republic,74.0,73.70,73.3,73.4,73.5,73.5,73.5,73.5,73.5,72.9,72.9,71.6,71.0,71.7,69.7,NaN,NaN
175,South Korea,78.8,79.50,80.1,80.6,81.1,80.6,81.3,80.6,80.6,79.7,79.2,80.0,80.0,80.0,80.1,NaN,NaN
185,Taiwan,78.2,78.20,78.2,76.7,75.2,74.6,75.7,75.7,76.5,78.3,77.9,77.3,77.3,77.3,89.4,NaN,NaN
189,Timor-Leste,64.1,68.20,72.2,72.2,72.2,72.2,71.6,72.4,72.4,72.4,72.4,71.9,71.9,71.9,70.6,NaN,NaN

In [72]:
democracy_miss['country_code'] = democracy_miss['country_code'].fillna(democracy_miss['country'].map(dict_country_code_2))
democracy_miss['continent'] = democracy_miss['continent'].fillna(democracy_miss['country'].map(dict_continent))

In [73]:
democracy_miss['country'] = democracy_miss['country'].replace(rename_dict)
democracy_miss['nan_count'] = democracy_miss.isnull().sum(axis=1)
democracy_miss = democracy_miss.sort_values(by=['country_code', 'nan_count'])
democracy_miss

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent,nan_count
0,Afghanistan,30.6,30.4,30.2,27.5,24.8,24.8,24.8,24.8,27.7,27.7,25.5,25.5,29.7,28.5,28.5,AFG,Asia,0
4,Angola,24.1,28.8,33.5,33.4,33.2,33.2,33.5,33.5,33.5,33.5,34.0,36.2,36.2,37.2,36.6,AGO,Africa,0
1,Albania,59.1,59.1,59.1,58.9,58.6,58.1,56.7,56.7,56.7,59.1,59.1,59.8,59.8,58.9,60.8,ALB,Europe,0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe,15
199,United Arab Emirates,24.2,25.1,26.0,25.6,25.2,25.8,25.8,25.2,26.4,27.5,27.5,26.9,27.6,27.6,27.0,ARE,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WSM,Australia and Oceania,15
208,Yemen,29.8,29.6,29.5,27.9,26.4,25.7,31.2,27.9,27.9,22.4,20.7,20.7,19.5,19.5,19.5,YEM,Asia,0
174,South Africa,79.1,79.1,79.1,78.5,77.9,77.9,77.9,79.0,78.2,75.6,74.1,72.4,72.4,72.4,70.5,ZAF,Africa,0
209,Zambia,52.5,52.5,52.5,54.6,56.8,61.9,62.6,62.6,63.9,62.8,59.9,56.8,56.1,50.9,48.6,ZMB,Africa,0
210,Zimbabwe,26.2,25.8,25.3,25.9,26.4,26.8,26.7,26.7,27.8,30.5,30.5,31.6,31.6,31.6,31.6,ZWE,Africa,0

In [74]:
democracy_miss = democracy_miss.drop_duplicates(subset='country_code', keep='first')
democracy_miss.head(20)

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent,nan_count
0,Afghanistan,30.6,30.4,30.2,27.5,24.8,24.8,24.8,24.8,27.7,27.7,25.5,25.5,29.7,28.5,28.5,AFG,Asia,0
4,Angola,24.1,28.8,33.5,33.4,33.2,33.2,33.5,33.5,33.5,33.5,34.0,36.2,36.2,37.2,36.6,AGO,Africa,0
1,Albania,59.1,59.1,59.1,58.9,58.6,58.1,56.7,56.7,56.7,59.1,59.1,59.8,59.8,58.9,60.8,ALB,Europe,0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe,15
199,United Arab Emirates,24.2,25.1,26.0,25.6,25.2,25.8,25.8,25.2,26.4,27.5,27.5,26.9,27.6,27.6,27.0,ARE,Asia,0
6,Argentina,66.3,66.3,66.3,67.3,68.4,68.4,68.4,68.4,68.4,70.2,69.6,69.6,70.2,70.2,69.5,ARG,South America,0
7,Armenia,41.5,41.2,40.9,40.9,40.9,40.9,40.9,40.2,41.3,40.0,38.8,41.1,47.9,55.4,53.5,ARM,Europe,0
5,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATG,North America,15
8,Australia,90.9,90.9,90.9,91.5,92.2,92.2,92.2,91.3,90.1,90.1,90.1,90.9,90.9,90.9,89.6,AUS,Australia and Oceania,0
9,Austria,86.9,85.9,84.9,84.9,84.9,84.9,86.2,84.8,85.4,85.4,84.1,84.2,82.9,82.9,81.6,AUT,Europe,0
10,Azerbaijan,33.1,32.5,31.9,31.7,31.5,31.5,31.5,30.6,28.3,27.1,26.5,26.5,26.5,27.5,26.8,AZE,Europe,0
29,Burundi,45.1,45.1,45.1,42.6,40.1,40.1,36.0,34.1,33.3,24.9,24.0,23.3,23.3,21.5,21.4,BDI,Africa,0
16,Belgium,81.5,81.5,81.6,81.0,80.5,80.5,80.5,80.5,79.3,79.3,77.7,77.8,77.8,76.4,75.1,BEL,Europe,0
18,Benin,61.6,61.1,60.6,61.1,61.7,60.6,60.0,58.7,56.5,57.2,56.7,56.1,57.4,50.9,45.8,BEN,Africa,0
27,Burkina,37.2,36.6,36.0,36.0,35.9,35.9,35.2,41.5,40.9,47.0,47.0,47.5,47.5,40.4,37.3,BFA,Africa,0
13,Bangladesh,61.1,58.1,55.2,57.0,58.7,58.6,58.6,58.6,57.8,57.3,57.3,54.3,55.7,58.8,59.9,BGD,Asia,0
25,Bulgaria,71.0,70.6,70.2,69.3,68.4,67.8,67.2,68.3,67.3,71.4,70.1,70.3,70.3,70.3,67.1,BGR,Europe,0
12,Bahrain,35.3,34.5,33.8,34.4,34.9,29.2,25.3,28.7,28.7,27.9,27.9,27.1,27.1,25.5,24.9,BHR,Asia,0
11,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BHS,North America,15
21,Bosnia and Herzegovina,57.8,57.4,57.0,55.1,53.2,52.4,51.1,50.2,47.8,48.3,48.7,48.7,49.8,48.6,48.4,BIH,Europe,0

In [75]:
democracy_miss.drop('nan_count', axis=1, inplace=True)

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/3969143880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  democracy_miss.drop('nan_count', axis=1, inplace=True)

In [76]:
democracy_miss

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent
0,Afghanistan,30.6,30.4,30.2,27.5,24.8,24.8,24.8,24.8,27.7,27.7,25.5,25.5,29.7,28.5,28.5,AFG,Asia
4,Angola,24.1,28.8,33.5,33.4,33.2,33.2,33.5,33.5,33.5,33.5,34.0,36.2,36.2,37.2,36.6,AGO,Africa
1,Albania,59.1,59.1,59.1,58.9,58.6,58.1,56.7,56.7,56.7,59.1,59.1,59.8,59.8,58.9,60.8,ALB,Europe
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe
199,United Arab Emirates,24.2,25.1,26.0,25.6,25.2,25.8,25.8,25.2,26.4,27.5,27.5,26.9,27.6,27.6,27.0,ARE,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WSM,Australia and Oceania
208,Yemen,29.8,29.6,29.5,27.9,26.4,25.7,31.2,27.9,27.9,22.4,20.7,20.7,19.5,19.5,19.5,YEM,Asia
174,South Africa,79.1,79.1,79.1,78.5,77.9,77.9,77.9,79.0,78.2,75.6,74.1,72.4,72.4,72.4,70.5,ZAF,Africa
209,Zambia,52.5,52.5,52.5,54.6,56.8,61.9,62.6,62.6,63.9,62.8,59.9,56.8,56.1,50.9,48.6,ZMB,Africa
210,Zimbabwe,26.2,25.8,25.3,25.9,26.4,26.8,26.7,26.7,27.8,30.5,30.5,31.6,31.6,31.6,31.6,ZWE,Africa

In [189]:

democracy_miss.to_csv('./data/democracy_full.csv', index=False)

In [78]:
government_miss = pd.merge(functioning_government,countries[['country','country_code','continent']],on='country', how='outer')
government_miss.shape

(211, 18)

In [79]:
government_miss['country_code'] = government_miss['country_code'].fillna(government_miss['country'].map(dict_country_code_2))
government_miss['continent'] = government_miss['continent'].fillna(government_miss['country'].map(dict_continent))
government_miss['country'] = government_miss['country'].replace(rename_dict)
government_miss['nan_count'] = government_miss.isnull().sum(axis=1)
government_miss = government_miss.sort_values(by=['country_code', 'nan_count'])
government_miss

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent,nan_count
0,Afghanistan,0.0,3.95,7.9,7.9,7.9,7.9,7.9,7.9,11.4,11.4,11.4,11.4,11.4,6.4,6.4,AFG,Asia,0
4,Angola,21.4,26.80,32.1,32.1,32.1,32.1,32.1,32.1,32.1,32.1,32.1,28.6,28.6,28.6,28.6,AGO,Africa,0
1,Albania,50.7,50.70,50.7,50.7,50.7,47.1,40.0,40.0,40.0,43.6,43.6,47.1,47.1,53.6,53.6,ALB,Europe,0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe,15
199,United Arab Emirates,30.7,35.00,39.3,37.5,35.7,35.7,35.7,35.7,35.7,35.7,35.7,35.7,39.3,39.3,39.3,ARE,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WSM,Australia and Oceania,15
208,Yemen,27.1,26.10,25.0,21.4,17.9,3.6,14.3,14.3,14.3,3.6,0.0,0.0,0.0,0.0,0.0,YEM,Asia,0
174,South Africa,78.6,78.60,78.6,80.3,82.1,82.1,82.1,82.1,82.1,82.1,78.6,75.0,75.0,75.0,71.4,ZAF,Africa,0
209,Zambia,46.4,46.40,46.4,50.0,53.6,50.0,53.6,53.6,53.6,53.6,53.6,50.0,46.4,29.3,29.3,ZMB,Africa,0
210,Zimbabwe,7.9,7.90,7.9,10.4,12.9,12.9,12.9,12.9,12.9,20.0,20.0,20.0,20.0,25.0,25.0,ZWE,Africa,0

In [191]:
government_miss = government_miss.drop_duplicates(subset='country_code', keep='first')
government_miss

,country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code,continent
0,Afghanistan,0.0,3.95,7.9,7.9,7.9,7.9,7.9,7.9,11.4,11.4,11.4,11.4,11.4,6.4,6.4,AFG,Asia
4,Angola,21.4,26.80,32.1,32.1,32.1,32.1,32.1,32.1,32.1,32.1,32.1,28.6,28.6,28.6,28.6,AGO,Africa
1,Albania,50.7,50.70,50.7,50.7,50.7,47.1,40.0,40.0,40.0,43.6,43.6,47.1,47.1,53.6,53.6,ALB,Europe
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe
199,United Arab Emirates,30.7,35.00,39.3,37.5,35.7,35.7,35.7,35.7,35.7,35.7,35.7,35.7,39.3,39.3,39.3,ARE,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WSM,Australia and Oceania
208,Yemen,27.1,26.10,25.0,21.4,17.9,3.6,14.3,14.3,14.3,3.6,0.0,0.0,0.0,0.0,0.0,YEM,Asia
174,South Africa,78.6,78.60,78.6,80.3,82.1,82.1,82.1,82.1,82.1,82.1,78.6,75.0,75.0,75.0,71.4,ZAF,Africa
209,Zambia,46.4,46.40,46.4,50.0,53.6,50.0,53.6,53.6,53.6,53.6,53.6,50.0,46.4,29.3,29.3,ZMB,Africa
210,Zimbabwe,7.9,7.90,7.9,10.4,12.9,12.9,12.9,12.9,12.9,20.0,20.0,20.0,20.0,25.0,25.0,ZWE,Africa

In [192]:
government_miss.drop('nan_count', axis=1, inplace=True)

KeyError: "['nan_count'] not found in axis"

In [193]:
government_miss.to_csv('./data/government_full.csv', index=False)

In [82]:
happiness_score.head(50)

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,37.2,44.0,47.6,38.3,37.8,35.7,31.3,39.8,42.2,26.6,26.9,25.7
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,46.3,NaN,54.9,52.7,58.7,55.1,45.5,48.1,46.1,45.1,46.4,50.0,48.8
3,United Arab Emirates,NaN,67.3,NaN,NaN,68.7,71.0,71.2,72.2,66.2,65.4,65.7,68.3,70.4,66.0,67.9
4,Argentina,NaN,63.1,60.7,59.6,64.2,64.4,67.8,64.7,65.8,66.7,67.0,64.3,60.4,57.9,59.7
5,Armenia,NaN,42.9,48.8,46.5,41.8,43.7,42.6,43.2,42.8,44.5,43.5,43.3,42.9,50.6,46.8
6,Australia,73.4,NaN,72.9,72.5,NaN,74.5,74.1,72.0,73.6,72.9,73.1,72.5,72.6,71.8,72.2
7,Austria,NaN,71.2,NaN,71.8,NaN,73.0,74.7,74.0,75.0,69.5,70.8,70.5,72.9,74.0,72.9
8,Azerbaijan,NaN,47.3,45.7,48.2,45.7,42.2,46.8,49.1,54.8,52.5,51.5,53.0,51.5,51.7,51.6
9,Burundi,NaN,NaN,NaN,35.6,37.9,NaN,37.1,NaN,NaN,29.0,NaN,NaN,NaN,37.8,37.8
10,Belgium,72.6,NaN,72.2,71.2,NaN,68.5,71.1,69.4,71.0,68.6,69.0,69.5,69.3,68.9,68.6
11,Benin,NaN,33.3,NaN,36.7,NaN,NaN,38.7,31.9,34.8,33.5,36.2,40.1,48.5,58.2,52.2
12,Burkina Faso,NaN,38.0,40.2,38.5,NaN,40.4,47.9,39.6,33.3,34.8,44.2,42.1,46.5,49.3,47.7
13,Bangladesh,NaN,43.2,46.1,50.5,50.8,48.6,49.9,47.2,46.6,46.4,46.3,45.6,43.1,45.0,48.3
14,Bulgaria,NaN,NaN,38.4,NaN,NaN,39.1,38.8,42.2,39.9,44.4,48.7,48.4,51.0,51.0,51.0
15,Bahrain,NaN,NaN,NaN,NaN,57.0,59.4,48.2,50.3,66.9,61.7,60.1,61.7,62.3,NaN,62.3
16,Bosnia and Herzegovina,NaN,NaN,49.0,NaN,49.6,46.7,49.9,47.7,51.2,52.5,51.2,51.8,50.9,58.9,56.7
17,Belarus,NaN,56.6,56.2,54.6,55.6,55.3,52.3,57.5,58.8,58.1,57.2,51.8,55.5,52.3,55.4
18,Belize,NaN,NaN,64.5,NaN,NaN,NaN,NaN,NaN,NaN,59.6,NaN,NaN,NaN,NaN,NaN
19,Bolivia,NaN,53.7,56.3,53.0,60.9,57.8,57.8,60.2,57.7,58.6,58.3,57.7,56.5,59.2,57.5
20,Brazil,66.4,NaN,63.2,66.9,70.0,68.4,70.4,66.6,71.4,69.8,65.5,63.7,63.3,61.9,63.8
21,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.7,49.4,50.8,NaN,NaN,NaN,NaN
22,Botswana,NaN,47.4,NaN,54.5,NaN,35.5,35.2,48.4,41.3,40.3,37.6,35.0,35.0,34.6,34.8
23,Central African Republic,NaN,NaN,41.6,NaN,NaN,35.7,36.8,NaN,NaN,NaN,NaN,26.9,34.8,NaN,34.8
24,Canada,74.2,NaN,74.8,74.9,74.9,76.5,74.3,74.2,75.9,73.0,74.1,72.4,74.1,71.8,72.3
25,Switzerland,NaN,74.7,NaN,NaN,75.2,NaN,NaN,77.8,NaN,74.9,75.7,74.6,74.7,75.1,75.6
26,Chile,NaN,60.6,57.0,57.9,64.9,66.4,65.3,66.0,67.4,68.4,65.3,65.8,63.2,64.4,62.3
27,China,NaN,45.6,48.6,48.5,44.5,46.5,50.4,50.9,52.4,52.0,53.0,53.2,51.0,51.3,51.2
28,Cote d'Ivoire,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,37.4,35.7,44.5,45.4,50.4,52.7,52.3
29,Cameroon,NaN,38.5,43.5,42.9,47.4,45.5,44.3,42.4,42.7,42.4,50.4,48.2,50.7,52.5,50.8
30,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,39.8,NaN,45.2,46.4,45.0,44.1,39.0,45.2,43.1,NaN,43.1
31,"Congo, Rep.",NaN,NaN,NaN,38.2,NaN,NaN,45.1,39.2,39.5,40.6,46.9,41.2,48.8,54.9,51.9
32,Colombia,NaN,60.2,61.4,61.7,62.7,64.1,64.6,63.7,66.1,64.5,63.9,62.3,61.6,59.8,61.6
33,Comoros,NaN,NaN,NaN,NaN,34.8,38.1,38.4,39.6,NaN,NaN,NaN,NaN,NaN,39.7,42.9
34,Costa Rica,NaN,70.8,74.3,68.5,76.1,72.7,72.3,72.7,71.6,72.5,68.5,71.4,72.3,71.4,71.2
35,Cuba,NaN,54.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Cyprus,NaN,62.4,NaN,NaN,68.3,63.9,66.9,61.8,54.4,56.3,54.4,57.9,60.6,62.8,61.6
37,Czech Republic,64.4,NaN,65.0,NaN,NaN,62.5,63.3,63.3,67.0,64.8,66.1,67.4,67.9,70.3,69.1
38,Germany,66.2,NaN,64.2,65.2,66.4,67.2,66.2,67.0,69.7,69.8,70.4,68.7,70.7,71.2,70.8
39,Djibouti,NaN,NaN,NaN,50.1,49.1,50.1,43.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Denmark,80.2,NaN,78.3,79.7,76.8,77.7,77.9,75.2,75.9,75.1,75.1,75.6,75.9,76.5,76.5
41,Dominican Republic,NaN,50.9,50.8,48.4,54.3,47.4,54.0,47.5,50.2,53.9,50.6,52.4,56.1,54.3,56.9
42,Algeria,NaN,NaN,NaN,NaN,NaN,54.6,53.2,56.0,NaN,63.5,NaN,53.4,52.5,50.4,50.1
43,Ecuador,NaN,50.2,50.0,53.0,60.2,58.4,58.0,59.6,60.2,59.5,59.6,61.2,58.4,61.3,59.3
44,Egypt,51.7,NaN,55.4,46.3,50.7,46.7,41.7,42.0,35.6,48.9,47.6,45.6,39.3,40.1,41.5
45,Spain,71.5,NaN,69.9,72.9,62.0,61.9,65.2,62.9,61.5,64.6,63.8,63.2,62.3,65.1,64.0
46,Estonia,NaN,53.7,53.3,54.5,51.4,NaN,54.9,53.6,53.7,55.6,56.3,56.5,59.4,60.9,60.2
47,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.6,44.4,45.1,45.7,43.0,41.8,43.8,41.9
48,Finland,NaN,76.7,NaN,76.7,NaN,73.9,73.5,74.2,74.4,73.8,74.5,76.6,77.9,78.6,78.1
49,France,70.9,65.8,NaN,70.1,62.8,68.0,69.6,66.5,66.7,64.7,63.6,64.8,66.4,66.7,66.6

In [176]:
happiness_miss = pd.merge(happiness_score,countries[['country','country_code', 'continent']],on='country', how='outer')
happiness_miss.shape

(209, 18)

In [177]:
countries['continent'].unique()

array(['Africa', 'Asia', 'Europe', 'North America',
       'Australia and Oceania', 'South America'], dtype=object)

In [178]:
# different name thatn the tbale countries, so adding manually those country_code and continent
happiness_miss[happiness_miss['continent'].isnull()]

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_code,continent
27,Burkina Faso,NaN,38.0,40.2,38.5,NaN,40.4,47.9,39.6,33.3,34.8,44.2,42.1,46.5,49.3,47.7,NaN,NaN
41,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,39.8,NaN,45.2,46.4,45.0,44.1,39.0,45.2,43.1,NaN,43.1,NaN,NaN
43,"Congo, Rep.",NaN,NaN,NaN,38.2,NaN,NaN,45.1,39.2,39.5,40.6,46.9,41.2,48.8,54.9,51.9,NaN,NaN
45,Cote d'Ivoire,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,37.4,35.7,44.5,45.4,50.4,52.7,52.3,NaN,NaN
61,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,NaN,NaN,NaN,42.1,43.1,NaN,NaN
79,"Hong Kong, China",NaN,55.1,NaN,51.4,54.0,56.4,54.7,54.8,NaN,54.6,NaN,55.0,53.6,NaN,55.1,NaN,NaN
99,Kyrgyz Republic,NaN,46.4,47.0,47.4,50.7,50.0,49.2,52.1,54.0,52.5,49.1,48.6,56.3,53.0,55.4,NaN,NaN
101,Lao,NaN,50.8,53.6,50.4,NaN,NaN,47.0,48.8,NaN,NaN,NaN,NaN,46.2,48.6,48.9,NaN,NaN
129,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.4,41.8,47.9,42.2,46.2,41.5,44.1,43.1,NaN,NaN
138,North Macedonia,NaN,NaN,44.9,NaN,44.3,41.8,49.0,46.4,51.9,52.0,49.8,53.5,52.3,52.4,51.6,NaN,NaN
143,Palestine,NaN,47.2,41.5,43.9,44.7,47.0,47.5,46.5,48.4,47.2,47.0,49.1,46.3,45.5,45.5,NaN,NaN
153,Russia,NaN,49.6,52.2,56.2,51.6,53.8,53.9,56.2,55.4,60.4,60.0,58.5,55.8,55.1,55.5,NaN,NaN
168,Slovak Republic,NaN,52.6,NaN,NaN,NaN,60.5,59.5,59.1,59.4,61.4,61.6,59.9,63.7,62.4,62.8,NaN,NaN
174,South Korea,NaN,53.3,57.7,53.9,56.5,61.2,69.5,60.0,59.6,58.0,57.8,59.7,58.7,58.4,58.7,NaN,NaN
184,Taiwan,NaN,61.9,NaN,55.5,NaN,62.3,63.1,61.3,63.4,63.6,64.5,65.1,63.6,64.7,64.6,NaN,NaN

In [179]:
dict_country_code_2 = {
    "Burkina Faso": "BFA",
    "Congo, Dem. Rep.": "COD",
    "Congo, Rep.": "COG",
    "Cote d'Ivoire": "CIV",
    "Eswatini": "SWZ",
    "Holy See": "VAT",
    "Hong Kong, China": "HKG",
    "Kyrgyz Republic": "KGZ",
    "Lao": "LAO",
    "Micronesia, Fed. Sts.": "FSM",
    "Myanmar": "MMR",
    "North Korea": "PRK",
    "North Macedonia": "MKD",
    "Palestine": "PSE",
    "Russia": "RUS",
    "Slovak Republic": "SVK",
    "South Korea": "KOR",
    "St. Kitts and Nevis": "KNA",
    "St. Lucia": "LCA",
    "St. Vincent and the Grenadines": "VCT",
    "Taiwan": "TWN",
    "Timor-Leste": "TLS"
}

happiness_miss['country_code'] = happiness_miss['country_code'].fillna(happiness_miss['country'].map(dict_country_code_2))

In [180]:
dict_continent = {
    "Burkina Faso": "Africa",
    "Congo, Dem. Rep.": "Africa",
    "Congo, Rep.": "Africa",
    "Cote d'Ivoire": "Africa",
    "Eswatini": "Africa",
    "Hong Kong, China": "Asia",
    "Kyrgyz Republic": "Asia",
    "Lao": "Asia",
    "Micronesia, Fed. Sts.": "Australia and Oceania",
    "Myanmar": "Asia",
    "North Korea": "Asia",
    "North Macedonia": "Europe",
    "Palestine": "Asia",
    "Russia": "Europe, Asia", 
    "Slovak Republic": "Europe",
    "South Korea": "Asia",
    "St. Kitts and Nevis": "North America",
    "St. Lucia": "North America",
    "St. Vincent and the Grenadines": "North America",
    "Taiwan": "Asia",
    "Timor-Leste": "Asia"
}

happiness_miss['continent'] = happiness_miss['continent'].fillna(happiness_miss['country'].map(dict_continent))

In [181]:
duplicates_happ = happiness_miss[happiness_miss['country_code'].duplicated(keep=False)]
duplicates_happ.sort_values(by='country_code')

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_code,continent
26,Burkina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BFA,Africa
27,Burkina Faso,NaN,38.0,40.2,38.5,NaN,40.4,47.9,39.6,33.3,34.8,44.2,42.1,46.5,49.3,47.7,BFA,Africa
45,Cote d'Ivoire,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,37.4,35.7,44.5,45.4,50.4,52.7,52.3,CIV,Africa
89,Ivory Coast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CIV,Africa
41,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,39.8,NaN,45.2,46.4,45.0,44.1,39.0,45.2,43.1,NaN,43.1,COD,Africa
42,"Congo, Democratic Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COD,Africa
40,Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COG,Africa
43,"Congo, Rep.",NaN,NaN,NaN,38.2,NaN,NaN,45.1,39.2,39.5,40.6,46.9,41.2,48.8,54.9,51.9,COG,Africa
100,Kyrgyzstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KGZ,Asia
99,Kyrgyz Republic,NaN,46.4,47.0,47.4,50.7,50.0,49.2,52.1,54.0,52.5,49.1,48.6,56.3,53.0,55.4,KGZ,Asia
97,"Korea, South",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KOR,Asia
174,South Korea,NaN,53.3,57.7,53.9,56.5,61.2,69.5,60.0,59.6,58.0,57.8,59.7,58.7,58.4,58.7,KOR,Asia
101,Lao,NaN,50.8,53.6,50.4,NaN,NaN,47.0,48.8,NaN,NaN,NaN,NaN,46.2,48.6,48.9,LAO,Asia
102,Laos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAO,Asia
111,Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MKD,Europe
138,North Macedonia,NaN,NaN,44.9,NaN,44.3,41.8,49.0,46.4,51.9,52.0,49.8,53.5,52.3,52.4,51.6,MKD,Europe
28,Burma (Myanmar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMR,Asia
129,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.4,41.8,47.9,42.2,46.2,41.5,44.1,43.1,MMR,Asia
153,Russia,NaN,49.6,52.2,56.2,51.6,53.8,53.9,56.2,55.4,60.4,60.0,58.5,55.8,55.1,55.5,RUS,"Europe, Asia"
154,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUS,Asia
168,Slovak Republic,NaN,52.6,NaN,NaN,NaN,60.5,59.5,59.1,59.4,61.4,61.6,59.9,63.7,62.4,62.8,SVK,Europe
169,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SVK,Europe
61,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,48.7,NaN,NaN,NaN,NaN,NaN,NaN,42.1,43.1,SWZ,Africa
180,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SWZ,Africa

In [182]:
rename_dict = {
    'Burkina Faso': 'Burkina',
    "Cote d'Ivoire": 'Ivory Coast',
    "Congo, Dem. Rep.": "Congo, Democratic Republic of",
    "Congo, Rep.": "Congo",
    "Kyrgyz Republic": "Kyrgyzstan",
    "South Korea": "Korea, South",
    "Lao": "Laos",
    "North Macedonia": "Macedonia",
    "Myanmar": "Burma (Myanmar)",
    "Russian Federation": "Russia",
    "Slovak Republic": "Slovakia",
    "Swaziland": "Eswatini"
}

happiness_miss['country'] = happiness_miss['country'].replace(rename_dict)
happiness_miss.head(50)

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_code,continent
0,Afghanistan,NaN,NaN,NaN,37.2,44.0,47.6,38.3,37.8,35.7,31.3,39.8,42.2,26.6,26.9,25.7,AFG,Asia
1,Albania,NaN,NaN,46.3,NaN,54.9,52.7,58.7,55.1,45.5,48.1,46.1,45.1,46.4,50.0,48.8,ALB,Europe
2,Algeria,NaN,NaN,NaN,NaN,NaN,54.6,53.2,56.0,NaN,63.5,NaN,53.4,52.5,50.4,50.1,DZA,Africa
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN,AGO,Africa
5,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATG,North America
6,Argentina,NaN,63.1,60.7,59.6,64.2,64.4,67.8,64.7,65.8,66.7,67.0,64.3,60.4,57.9,59.7,ARG,South America
7,Armenia,NaN,42.9,48.8,46.5,41.8,43.7,42.6,43.2,42.8,44.5,43.5,43.3,42.9,50.6,46.8,ARM,Europe
8,Australia,73.4,NaN,72.9,72.5,NaN,74.5,74.1,72.0,73.6,72.9,73.1,72.5,72.6,71.8,72.2,AUS,Australia and Oceania
9,Austria,NaN,71.2,NaN,71.8,NaN,73.0,74.7,74.0,75.0,69.5,70.8,70.5,72.9,74.0,72.9,AUT,Europe
10,Azerbaijan,NaN,47.3,45.7,48.2,45.7,42.2,46.8,49.1,54.8,52.5,51.5,53.0,51.5,51.7,51.6,AZE,Europe
11,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BHS,North America
12,Bahrain,NaN,NaN,NaN,NaN,57.0,59.4,48.2,50.3,66.9,61.7,60.1,61.7,62.3,NaN,62.3,BHR,Asia
13,Bangladesh,NaN,43.2,46.1,50.5,50.8,48.6,49.9,47.2,46.6,46.4,46.3,45.6,43.1,45.0,48.3,BGD,Asia
14,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRB,North America
15,Belarus,NaN,56.6,56.2,54.6,55.6,55.3,52.3,57.5,58.8,58.1,57.2,51.8,55.5,52.3,55.4,BLR,Europe
16,Belgium,72.6,NaN,72.2,71.2,NaN,68.5,71.1,69.4,71.0,68.6,69.0,69.5,69.3,68.9,68.6,BEL,Europe
17,Belize,NaN,NaN,64.5,NaN,NaN,NaN,NaN,NaN,NaN,59.6,NaN,NaN,NaN,NaN,NaN,BLZ,North America
18,Benin,NaN,33.3,NaN,36.7,NaN,NaN,38.7,31.9,34.8,33.5,36.2,40.1,48.5,58.2,52.2,BEN,Africa
19,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.7,49.4,50.8,NaN,NaN,NaN,NaN,BTN,Asia
20,Bolivia,NaN,53.7,56.3,53.0,60.9,57.8,57.8,60.2,57.7,58.6,58.3,57.7,56.5,59.2,57.5,BOL,South America
21,Bosnia and Herzegovina,NaN,NaN,49.0,NaN,49.6,46.7,49.9,47.7,51.2,52.5,51.2,51.8,50.9,58.9,56.7,BIH,Europe
22,Botswana,NaN,47.4,NaN,54.5,NaN,35.5,35.2,48.4,41.3,40.3,37.6,35.0,35.0,34.6,34.8,BWA,Africa
23,Brazil,66.4,NaN,63.2,66.9,70.0,68.4,70.4,66.6,71.4,69.8,65.5,63.7,63.3,61.9,63.8,BRA,South America
24,Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRN,Asia
25,Bulgaria,NaN,NaN,38.4,NaN,NaN,39.1,38.8,42.2,39.9,44.4,48.7,48.4,51.0,51.0,51.0,BGR,Europe
26,Burkina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BFA,Africa
27,Burkina,NaN,38.0,40.2,38.5,NaN,40.4,47.9,39.6,33.3,34.8,44.2,42.1,46.5,49.3,47.7,BFA,Africa
28,Burma (Myanmar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMR,Asia
29,Burundi,NaN,NaN,NaN,35.6,37.9,NaN,37.1,NaN,NaN,29.0,NaN,NaN,NaN,37.8,37.8,BDI,Africa
30,Cambodia,NaN,35.7,41.6,44.6,41.1,41.4,41.6,39.0,36.7,38.8,41.6,44.6,45.9,51.2,48.5,KHM,Asia
31,Cameroon,NaN,38.5,43.5,42.9,47.4,45.5,44.3,42.4,42.7,42.4,50.4,48.2,50.7,52.5,50.8,CMR,Africa
32,Canada,74.2,NaN,74.8,74.9,74.9,76.5,74.3,74.2,75.9,73.0,74.1,72.4,74.1,71.8,72.3,CAN,North America
33,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CPV,Africa
34,Central African Republic,NaN,NaN,41.6,NaN,NaN,35.7,36.8,NaN,NaN,NaN,NaN,26.9,34.8,NaN,34.8,CAF,Africa
35,Chad,NaN,34.3,41.4,46.3,36.4,37.4,43.9,40.3,35.1,34.6,43.2,40.3,45.6,44.9,44.2,TCD,Africa
36,Chile,NaN,60.6,57.0,57.9,64.9,66.4,65.3,66.0,67.4,68.4,65.3,65.8,63.2,64.4,62.3,CHL,South America
37,China,NaN,45.6,48.6,48.5,44.5,46.5,50.4,50.9,52.4,52.0,53.0,53.2,51.0,51.3,51.2,CHN,Asia
38,Colombia,NaN,60.2,61.4,61.7,62.7,64.1,64.6,63.7,66.1,64.5,63.9,62.3,61.6,59.8,61.6,COL,South America
39,Comoros,NaN,NaN,NaN,NaN,34.8,38.1,38.4,39.6,NaN,NaN,NaN,NaN,NaN,39.7,42.9,COM,Africa
40,Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COG,Africa
41,"Congo, Democratic Republic of",NaN,NaN,NaN,NaN,39.8,NaN,45.2,46.4,45.0,44.1,39.0,45.2,43.1,NaN,43.1,COD,Africa
42,"Congo, Democratic Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COD,Africa
43,Congo,NaN,NaN,NaN,38.2,NaN,NaN,45.1,39.2,39.5,40.6,46.9,41.2,48.8,54.9,51.9,COG,Africa
44,Costa Rica,NaN,70.8,74.3,68.5,76.1,72.7,72.3,72.7,71.6,72.5,68.5,71.4,72.3,71.4,71.2,CRI,North America
45,Ivory Coast,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,37.4,35.7,44.5,45.4,50.4,52.7,52.3,CIV,Africa
46,Croatia,NaN,NaN,58.2,NaN,54.3,56.0,53.9,60.3,58.9,53.8,52.1,54.2,53.4,55.4,55.0,HRV,Europe
47,Cuba,NaN,54.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CUB,North America
48,Cyprus,NaN,62.4,NaN,NaN,68.3,63.9,66.9,61.8,54.4,56.3,54.4,57.9,60.6,62.8,61.6,CYP,Europe
49,Czech Republic,64.4,NaN,65.0,NaN,NaN,62.5,63.3,63.3,67.0,64.8,66.1,67.4,67.9,70.3,69.1,CZE,Europe

In [183]:
# to drop the duplicate row with all null values 
happiness_miss['nan_count'] = happiness_miss.isnull().sum(axis=1)
happiness_miss = happiness_miss.sort_values(by=['country_code', 'nan_count'])
happiness_miss

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_code,continent,nan_count
0,Afghanistan,NaN,NaN,NaN,37.2,44.0,47.6,38.3,37.8,35.7,31.3,39.8,42.2,26.6,26.9,25.7,AFG,Asia,3
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN,AGO,Africa,11
1,Albania,NaN,NaN,46.3,NaN,54.9,52.7,58.7,55.1,45.5,48.1,46.1,45.1,46.4,50.0,48.8,ALB,Europe,3
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe,15
197,United Arab Emirates,NaN,67.3,NaN,NaN,68.7,71.0,71.2,72.2,66.2,65.4,65.7,68.3,70.4,66.0,67.9,ARE,Asia,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WSM,Australia and Oceania,15
206,Yemen,NaN,NaN,44.8,NaN,48.1,43.5,37.5,40.6,42.2,39.7,29.8,38.3,32.5,30.6,35.3,YEM,Asia,3
173,South Africa,NaN,50.8,52.0,53.5,52.2,46.5,49.3,51.3,36.6,48.3,48.9,47.7,45.1,48.8,48.1,ZAF,Africa,1
207,Zambia,NaN,48.2,40.0,47.3,52.6,NaN,50.0,50.1,52.4,43.5,48.4,43.5,39.3,40.4,37.6,ZMB,Africa,2
208,Zimbabwe,NaN,38.3,32.8,31.7,40.6,46.8,48.5,49.6,46.9,41.8,37.0,37.4,36.4,36.2,33.0,ZWE,Africa,1

In [184]:
happiness_miss = happiness_miss.drop_duplicates(subset='country_code', keep='first')
happiness_miss.head(20)

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_code,continent,nan_count
0,Afghanistan,NaN,NaN,NaN,37.2,44.0,47.6,38.3,37.8,35.7,31.3,39.8,42.2,26.6,26.9,25.7,AFG,Asia,3
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN,AGO,Africa,11
1,Albania,NaN,NaN,46.3,NaN,54.9,52.7,58.7,55.1,45.5,48.1,46.1,45.1,46.4,50.0,48.8,ALB,Europe,3
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,Europe,15
197,United Arab Emirates,NaN,67.3,NaN,NaN,68.7,71.0,71.2,72.2,66.2,65.4,65.7,68.3,70.4,66.0,67.9,ARE,Asia,3
6,Argentina,NaN,63.1,60.7,59.6,64.2,64.4,67.8,64.7,65.8,66.7,67.0,64.3,60.4,57.9,59.7,ARG,South America,1
7,Armenia,NaN,42.9,48.8,46.5,41.8,43.7,42.6,43.2,42.8,44.5,43.5,43.3,42.9,50.6,46.8,ARM,Europe,1
5,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATG,North America,15
8,Australia,73.4,NaN,72.9,72.5,NaN,74.5,74.1,72.0,73.6,72.9,73.1,72.5,72.6,71.8,72.2,AUS,Australia and Oceania,2
9,Austria,NaN,71.2,NaN,71.8,NaN,73.0,74.7,74.0,75.0,69.5,70.8,70.5,72.9,74.0,72.9,AUT,Europe,3
10,Azerbaijan,NaN,47.3,45.7,48.2,45.7,42.2,46.8,49.1,54.8,52.5,51.5,53.0,51.5,51.7,51.6,AZE,Europe,1
29,Burundi,NaN,NaN,NaN,35.6,37.9,NaN,37.1,NaN,NaN,29.0,NaN,NaN,NaN,37.8,37.8,BDI,Africa,9
16,Belgium,72.6,NaN,72.2,71.2,NaN,68.5,71.1,69.4,71.0,68.6,69.0,69.5,69.3,68.9,68.6,BEL,Europe,2
18,Benin,NaN,33.3,NaN,36.7,NaN,NaN,38.7,31.9,34.8,33.5,36.2,40.1,48.5,58.2,52.2,BEN,Africa,4
27,Burkina,NaN,38.0,40.2,38.5,NaN,40.4,47.9,39.6,33.3,34.8,44.2,42.1,46.5,49.3,47.7,BFA,Africa,2
13,Bangladesh,NaN,43.2,46.1,50.5,50.8,48.6,49.9,47.2,46.6,46.4,46.3,45.6,43.1,45.0,48.3,BGD,Asia,1
25,Bulgaria,NaN,NaN,38.4,NaN,NaN,39.1,38.8,42.2,39.9,44.4,48.7,48.4,51.0,51.0,51.0,BGR,Europe,4
12,Bahrain,NaN,NaN,NaN,NaN,57.0,59.4,48.2,50.3,66.9,61.7,60.1,61.7,62.3,NaN,62.3,BHR,Asia,5
11,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BHS,North America,15
21,Bosnia and Herzegovina,NaN,NaN,49.0,NaN,49.6,46.7,49.9,47.7,51.2,52.5,51.2,51.8,50.9,58.9,56.7,BIH,Europe,3

In [185]:
happiness_miss.drop('nan_count', axis=1, inplace=True)

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/895014987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  happiness_miss.drop('nan_count', axis=1, inplace=True)

In [186]:
happiness_miss.to_csv('./data/happiness_score_full.csv', index=False)

In [187]:
#Where those countries have already missing values in 2019 before the merge
missing_values_happiness

,country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,55.9,43.6,39.4,37.9,NaN,NaN,NaN,NaN,NaN
18,Belize,NaN,NaN,64.5,NaN,NaN,NaN,NaN,NaN,NaN,59.6,NaN,NaN,NaN,NaN,NaN
21,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.7,49.4,50.8,NaN,NaN,NaN,NaN
35,Cuba,NaN,54.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Djibouti,NaN,NaN,NaN,50.1,49.1,50.1,43.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Guyana,NaN,NaN,59.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Oman,NaN,NaN,NaN,NaN,NaN,NaN,68.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Qatar,NaN,NaN,NaN,NaN,64.2,68.5,65.9,66.1,NaN,NaN,63.7,NaN,NaN,NaN,NaN
128,Sudan,NaN,NaN,NaN,NaN,44.5,44.4,43.1,45.5,NaN,41.4,NaN,NaN,NaN,NaN,NaN
133,Somalia,NaN,NaN,NaN,NaN,49.9,46.6,49.3,50.6,NaN,55.3,53.5,46.7,NaN,NaN,NaN
136,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Syria,NaN,NaN,NaN,53.2,49.8,44.6,40.4,31.6,26.9,NaN,34.6,NaN,NaN,NaN,NaN

In [188]:
#All the countries that are missing in the df 'happiness_score'
missing_countries_happiness = happiness_miss[happiness_miss['2019'].isnull()]
missing_countries_happiness['country'].count()

#58-12= 46 countries are absent from the happiness score df

46

In [91]:
#again, renaming countries?
extra_population = pd.merge(countries, population, on='country_code', how='outer')
extra_population

,continent,country_x,country_code,country_y,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,ABW,Aruba,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,NaN,NaN,AFE,Africa Eastern and Southern,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Asia,Afghanistan,AFG,Afghanistan,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,NaN,NaN,AFW,Africa Western and Central,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Africa,Angola,AGO,Angola,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,NaN,NaN,XKX,Kosovo,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0
263,Asia,Yemen,YEM,"Yemen, Rep.",5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
264,Africa,South Africa,ZAF,South Africa,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
265,Africa,Zambia,ZMB,Zambia,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
266,Africa,Zimbabwe,ZWE,Zimbabwe,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [92]:
population.isnull().sum().sum()

103

In [93]:
extra_population[extra_population['country_y'].isnull()]

,continent,country_x,country_code,country_y,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
253,Europe,Vatican City,VAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
dict_vat = {'Vatican City': 'Vatican City'}
extra_population['country_y'] = extra_population['country_y'].fillna(extra_population['country_x'].map(dict_vat))

In [95]:
extra_population.drop(['country_x'], inplace=True, axis=1)

In [96]:
population = extra_population.rename(columns = {'country_y': 'country'}, inplace = True)
population = extra_population

In [97]:
population[population['continent'].isnull()]

,continent,country_code,country,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,ABW,Aruba,5.420800e+04,5.543400e+04,5.623400e+04,5.669900e+04,5.702900e+04,5.735700e+04,5.770200e+04,...,1.020500e+05,1.025650e+05,1.031650e+05,1.037760e+05,1.043390e+05,1.048650e+05,1.053610e+05,1.058460e+05,1.063100e+05,1.067660e+05
1,NaN,AFE,Africa Eastern and Southern,1.308368e+08,1.341598e+08,1.376146e+08,1.412020e+08,1.449202e+08,1.487700e+08,1.527527e+08,...,5.327604e+08,5.474829e+08,5.626016e+08,5.780754e+08,5.938718e+08,6.099789e+08,6.263929e+08,6.430901e+08,6.600463e+08,6.772433e+08
3,NaN,AFW,Africa Western and Central,9.639642e+07,9.840722e+07,1.005070e+08,1.026913e+08,1.049535e+08,1.072899e+08,1.097018e+08,...,3.602854e+08,3.702430e+08,3.804379e+08,3.908830e+08,4.015867e+08,4.125513e+08,4.237699e+08,4.352294e+08,4.469116e+08,4.588035e+08
7,NaN,ARB,Arab World,9.219772e+07,9.472454e+07,9.733444e+07,1.000342e+08,1.028328e+08,1.057364e+08,1.087586e+08,...,3.631568e+08,3.714376e+08,3.796965e+08,3.878998e+08,3.960283e+08,4.040429e+08,4.119428e+08,4.198520e+08,4.278703e+08,4.360807e+08
11,NaN,ASM,American Samoa,2.012700e+04,2.060500e+04,2.124600e+04,2.202900e+04,2.285000e+04,2.367500e+04,2.447300e+04,...,5.575500e+04,5.566900e+04,5.571700e+04,5.579100e+04,5.580600e+04,5.573900e+04,5.561700e+04,5.546100e+04,5.531200e+04,5.519700e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,NaN,UMC,Upper middle income,1.136464e+09,1.140114e+09,1.156187e+09,1.183604e+09,1.210649e+09,1.238613e+09,1.269459e+09,...,2.364103e+09,2.383978e+09,2.404063e+09,2.423763e+09,2.442626e+09,2.461213e+09,2.480025e+09,2.496446e+09,2.510773e+09,2.522438e+09
256,NaN,VGB,British Virgin Islands,8.053000e+03,8.164000e+03,8.319000e+03,8.469000e+03,8.644000e+03,8.836000e+03,9.022000e+03,...,2.832600e+04,2.865400e+04,2.885000e+04,2.898500e+04,2.914800e+04,2.935500e+04,2.956700e+04,2.979500e+04,3.003300e+04,3.023700e+04
257,NaN,VIR,Virgin Islands (U.S.),3.250000e+04,3.430000e+04,3.500000e+04,3.980000e+04,4.080000e+04,4.350000e+04,4.620000e+04,...,1.082900e+05,1.081880e+05,1.080410e+05,1.078820e+05,1.077120e+05,1.075160e+05,1.072810e+05,1.070010e+05,1.066690e+05,1.062900e+05
260,NaN,WLD,World,3.032156e+09,3.071596e+09,3.124561e+09,3.189656e+09,3.255146e+09,3.322047e+09,3.392098e+09,...,7.003760e+09,7.089255e+09,7.175500e+09,7.261847e+09,7.347679e+09,7.433569e+09,7.519183e+09,7.602433e+09,7.683438e+09,7.763499e+09
262,NaN,XKX,Kosovo,9.470000e+05,9.660000e+05,9.940000e+05,1.022000e+06,1.050000e+06,1.078000e+06,1.106000e+06,...,1.791000e+06,1.807106e+06,1.818117e+06,1.812771e+06,1.788196e+06,1.777557e+06,1.791003e+06,1.797085e+06,1.788878e+06,1.790133e+06

In [98]:
#rename countries 
rename_dict = {
    'Burkina Faso': 'Burkina',
    "Cote d'Ivoire": 'Ivory Coast',
    "Congo, Dem. Rep.": "Congo, Democratic Republic of",
    "Congo, Rep.": "Congo",
    "Kyrgyz Republic": "Kyrgyzstan",
    "South Korea": "Korea, South",
    "Lao": "Laos",
    "North Macedonia": "Macedonia",
    "Myanmar": "Burma (Myanmar)",
    "Russian Federation": "Russia",
    "Slovak Republic": "Slovakia",
    "Swaziland": "Eswatini"
}

population['country'] = population['country'].replace(rename_dict)
population.head(50)

,continent,country_code,country,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,ABW,Aruba,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,...,1.020500e+05,1.025650e+05,1.031650e+05,1.037760e+05,1.043390e+05,1.048650e+05,1.053610e+05,1.058460e+05,1.063100e+05,1.067660e+05
1,NaN,AFE,Africa Eastern and Southern,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,...,5.327604e+08,5.474829e+08,5.626016e+08,5.780754e+08,5.938718e+08,6.099789e+08,6.263929e+08,6.430901e+08,6.600463e+08,6.772433e+08
2,Asia,AFG,Afghanistan,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,...,3.011741e+07,3.116138e+07,3.226959e+07,3.337080e+07,3.441360e+07,3.538303e+07,3.629611e+07,3.717192e+07,3.804176e+07,3.892834e+07
3,NaN,AFW,Africa Western and Central,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,...,3.602854e+08,3.702430e+08,3.804379e+08,3.908830e+08,4.015867e+08,4.125513e+08,4.237699e+08,4.352294e+08,4.469116e+08,4.588035e+08
4,Africa,AGO,Angola,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,...,2.422066e+07,2.510792e+07,2.601579e+07,2.694177e+07,2.788438e+07,2.884248e+07,2.981677e+07,3.080979e+07,3.182530e+07,3.286627e+07
5,Europe,ALB,Albania,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2.905195e+06,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,2.866376e+06,2.854191e+06,2.837849e+06
6,Europe,AND,Andorra,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,19646.0,...,8.374800e+04,8.242700e+04,8.077000e+04,7.921300e+04,7.799300e+04,7.729500e+04,7.699700e+04,7.700800e+04,7.714600e+04,7.726500e+04
7,NaN,ARB,Arab World,92197715.0,94724540.0,97334438.0,100034191.0,102832792.0,105736428.0,108758634.0,...,3.631568e+08,3.714376e+08,3.796965e+08,3.878998e+08,3.960283e+08,4.040429e+08,4.119428e+08,4.198520e+08,4.278703e+08,4.360807e+08
8,Asia,ARE,United Arab Emirates,92417.0,100801.0,112112.0,125130.0,138049.0,149855.0,159979.0,...,8.946778e+06,9.141598e+06,9.197908e+06,9.214182e+06,9.262896e+06,9.360975e+06,9.487206e+06,9.630966e+06,9.770526e+06,9.890400e+06
9,South America,ARG,Argentina,20481781.0,20817270.0,21153042.0,21488916.0,21824427.0,22159644.0,22494031.0,...,4.126149e+07,4.173327e+07,4.220294e+07,4.266950e+07,4.313197e+07,4.359037e+07,4.404481e+07,4.449450e+07,4.493871e+07,4.537676e+07
10,Europe,ARM,Armenia,1874119.0,1941498.0,2009524.0,2077584.0,2145004.0,2211316.0,2276038.0,...,2.876536e+06,2.884239e+06,2.897593e+06,2.912403e+06,2.925559e+06,2.936147e+06,2.944789e+06,2.951741e+06,2.957728e+06,2.963234e+06
11,NaN,ASM,American Samoa,20127.0,20605.0,21246.0,22029.0,22850.0,23675.0,24473.0,...,5.575500e+04,5.566900e+04,5.571700e+04,5.579100e+04,5.580600e+04,5.573900e+04,5.561700e+04,5.546100e+04,5.531200e+04,5.519700e+04
12,North America,ATG,Antigua and Barbuda,54132.0,55005.0,55849.0,56701.0,57641.0,58699.0,59912.0,...,8.925000e+04,9.040700e+04,9.151000e+04,9.256200e+04,9.357100e+04,9.452000e+04,9.542500e+04,9.628200e+04,9.711500e+04,9.792800e+04
13,Australia and Oceania,AUS,Australia,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,11651000.0,...,2.234002e+07,2.273346e+07,2.312813e+07,2.347569e+07,2.381600e+07,2.419091e+07,2.460186e+07,2.498269e+07,2.536574e+07,2.569327e+07
14,Europe,AUT,Austria,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,7322066.0,...,8.391643e+06,8.429991e+06,8.479823e+06,8.546356e+06,8.642699e+06,8.736668e+06,8.797566e+06,8.840521e+06,8.879920e+06,8.916864e+06
15,Europe,AZE,Azerbaijan,3895398.0,4030325.0,4171428.0,4315127.0,4456691.0,4592601.0,4721528.0,...,9.173082e+06,9.295784e+06,9.416801e+06,9.535079e+06,9.649341e+06,9.757812e+06,9.854033e+06,9.939771e+06,1.002428e+07,1.009312e+07
16,Africa,BDI,Burundi,2797925.0,2852438.0,2907320.0,2964416.0,3026292.0,3094378.0,3170496.0,...,8.958406e+06,9.245992e+06,9.540302e+06,9.844301e+06,1.016003e+07,1.048800e+07,1.082701e+07,1.117538e+07,1.153058e+07,1.189078e+07
17,Europe,BEL,Belgium,9153489.0,9183948.0,9220578.0,9289770.0,9378113.0,9463667.0,9527807.0,...,1.103826e+07,1.110693e+07,1.115941e+07,1.120906e+07,1.127420e+07,1.133142e+07,1.137516e+07,1.142705e+07,1.148898e+07,1.154424e+07
18,Africa,BEN,Benin,2431617.0,2465865.0,2502897.0,2542864.0,2585961.0,2632361.0,2682159.0,...,9.460829e+06,9.729254e+06,1.000459e+07,1.028684e+07,1.057596e+07,1.087207e+07,1.117519e+07,1.148504e+07,1.180115e+07,1.212320e+07
19,Africa,BFA,Burkina,4829289.0,4894580.0,4960328.0,5027811.0,5098891.0,5174874.0,5256360.0,...,1.608192e+07,1.657125e+07,1.707279e+07,1.758603e+07,1.811062e+07,1.864635e+07,1.919324e+07,1.975147e+07,2.032138e+07,2.090328e+07
20,Asia,BGD,Bangladesh,48013505.0,49362834.0,50752150.0,52202008.0,53741721.0,55385114.0,57157651.0,...,1.492731e+08,1.510057e+08,1.527614e+08,1.545174e+08,1.562563e+08,1.579772e+08,1.596854e+08,1.613767e+08,1.630462e+08,1.646894e+08
21,Europe,BGR,Bulgaria,7867374.0,7943118.0,8012946.0,8078145.0,8144340.0,8204168.0,8258057.0,...,7.348328e+06,7.305888e+06,7.265115e+06,7.223938e+06,7.177991e+06,7.127822e+06,7.075947e+06,7.025037e+06,6.975761e+06,6.934015e+06
22,Asia,BHR,Bahrain,162429.0,167899.0,173140.0,178142.0,182888.0,187432.0,191785.0,...,1.278153e+06,1.299942e+06,1.315029e+06,1.336073e+06,1.371853e+06,1.425793e+06,1.494077e+06,1.569440e+06,1.641164e+06,1.701583e+06
23,North America,BHS,"Bahamas, The",109532.0,115119.0,121092.0,127340.0,133705.0,140060.0,146381.0,...,3.595830e+05,3.635810e+05,3.671620e+05,3.706250e+05,3.742000e+05,3.779230e+05,3.817490e+05,3.856350e+05,3.894860e+05,3.932480e+05
24,Europe,BIH,Bosnia and Herzegovina,3225664.0,3288604.0,3353228.0,3417573.0,3478999.0,3535632.0,3586630.0,...,3.661173e+06,3.604972e+06,3.542598e+06,3.482106e+06,3.429362e+06,3.386263e+06,3.351534e+06,3.323929e+06,3.300998e+06,3.280815e+06
25,Europe,BLR,Belarus,8198000.0,8271216.0,8351928.0,8437232.0,8524224.0,8610000.0,8696496.0,...,9.461643e+06,9.446836e+06,9.443211e+06,9.448515e+06,9.461076e+06,9.469379e+06,9.458989e+06,9.438785e+06,9.419758e+06,9.379952e+06
26,North America,BLZ,Belize,92068.0,94700.0,97392.0,100165.0,103069.0,106120.0,109348.0,...,3.302360e+05,3.380010e+05,3.457070e+05,3.533660e+05,3.609260e+05,3.683990e+05,3.757750e+05,3.830710e+05,3.903510e+05,3.976210e+05
27,NaN,BMU,Bermuda,44400.0,45500.0,46600.0,47700.0,48900.0,50100.0,51000.0,...,6.456400e+04,6.479800e+04,6.500100e+04,6.513800e+04,6.523700e+04,6.455400e+04,6.387300e+04,6.391900e+04,6.391300e+04,6.390300e+04
28,South America,BOL,Bolivia,3656961.0,3728954.0,3802996.0,3879191.0,3957759.0,4038865.0,4122517.0,...,1.021295e+07,1.037768e+07,1.054238e+07,1.070652e+07,1.086973e+07,1.103182e+07,1.119285e+07,1.135314e+07,1.151310e+07,1.167303e+07
29,South America,BRA,Brazil,72179235.0,74311338.0,76514329.0,78772647.0,81064572.0,83373533.0,85696502.0,...,1.975145e+08,1.992873e+08,2.010359e+08,2.027637e+08,2.044718e+08,2.061631e+08,2.078338e+08,2.094693e+08,2.110495e+08,2.125594e+08
30,North America,BRB,Barbados,230985.0,231718.0,232623.0,233632.0,234588.0,235415.0,236084.0,...,2.829870e+05,2.836980e+05,2.842940e+05,2.848250e+05,2.853270e+05,2.857980e+05,2.862290e+05,2.866400e+05,2.870210e+05,2.873710e+05
31,Asia,BRN,Brunei Darussalam,81707.0,85560.0,89484.0,93540.0,97819.0,102390.0,107274.0,...,3.936870e+05,3.989970e+05,4.044140e+05,4.097780e+05,4.149140e+05,4.197910e+05,4.244810e+05,4.289600e+05,4.332960e+05,4.374830e+05
32,Asia,BTN,Bhutan,223284.0,228849.0,234552.0,240529.0,246961.0,253993.0,261664.0,...,6.932970e+05,7.015820e+05,7.102350e+05,7.190530e+05,7.278850e+05,7.367060e+05,7.455630e+05,7.543960e+05,7.630940e+05,7.716120e+05
33,Africa,BWA,Botswana,502733.0,512688.0,523777.0,535692.0,547870.0,559996.0,571957.0,...,2.015406e+06,2.039551e+06,2.062551e+06,2.088619e+06,2.120716e+06,2.159925e+06,2.205076e+06,2.254067e+06,2.303703e+06,2.351625e+06
34,Africa,CAF,Central African Republic,1501668.0,1526057.0,1551908.0,1579375.0,1608618.0,1639706.0,1673019.0,...,4.418639e+06,4.436411e+06,4.447945e+06,4.464171e+06,4.493171e+06,4.537683e+06,4.596023e+06,4.666375e+06,4.745179e+06,4.829764e+06
35,North America,CAN,Canada,17909009.0,18271000.0,18614000.0,18964000.0,19325000.0,19678000.0,20048000.0,...,3.433933e+07,3.471422e+07,3.508295e+07,3.543744e+07,3.570291e+07,3.610949e+07,3.654524e+07,3.706508e+07,3.760123e+07,3.803720e+07
36,NaN,CEB,Central Europe and the Baltics,91401764.0,92232738.0,93009498.0,93840016.0,94715795.0,95440988.0,96146336.0,...,1.041740e+08,1.039353e+08,1.037137e+08,1.034962e+08,1.032579e+08,1.029943e+08,1.027401e+08,1.025385e+08,1.023985e+08,1.021724e+08
37,Europe,CHE,Switzerland,5327827.0,5434294.0,5573815.0,5694247.0,5789228.0,5856472.0,5918002.0,...,7.912398e+06,7.996861e+06,8.089346e+06,8.188649e+06,8.282396e+06,8.373338e+06,8.451840e+06,8.514329e+06,8.575280e+06,8.636561e+06
38,NaN,CHI,Channel Islands,109419.0,110398.0,111464.0,112591.0,113777.0,114989.0,116229.0,...,1.609900e+05,1.620510e+05,1.630390e+05,1.641070e+05,1.653870e+05,1.669220e+05,1.686660e+05,1.704960e+05,1.722640e+05,1.738590e+05
39,South America,CHL,Chile,8132988.0,8303804.0,8476895.0,8650390.0,8821855.0,8989607.0,9152848.0,...,1.723358e+07,1.740036e+07,1.757151e+07,1.775897e+07,1.796936e+07,1.820907e+07,1.847044e+07,1.872917e+07,1.895204e+07,1.911621e+07
40,Asia,CHN,China,667070000.0,660330000.0,665770000.0,682335000.0,698355000.0,715185000.0,735400000.0,...,1.345035e+09,1.354190e+09,1.363240e+09,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.410929e+09
41,Africa,CIV,Ivory Coast,3503559.0,3631547.0,3770756.0,3918630.0,4071411.0,4226843.0,4383723.0,...,2.102865e+07,2.154719e+07,2.208751e+07,2.264767e+07,2.322615e+07,2.382273e+07,2.443748e+07,2.506923e+07,2.571655e+07,2.637828e+07
42,Africa,CMR,Cameroon,5176920.0,5285015.0,5398730.0,5518104.0,5643039.0,5773538.0,5909874.0,...,2.090639e+07,2.148527e+07,2.207730e+07,2.268185e+07,2.329838e+07,2.392655e+07,2.456607e+07,2.521626e+07,2.587639e+07,2.654586e+07
43,Africa,COD,"Congo, Democratic Republic of",15248256.0,15637700.0,16041187.0,16461828.0,16903830.0,17369882.0,17862052.0,...,6.675515e+07,6.902075e+07,7.135880e+07,7.376744e+07,7.624453e+07,7.878913e+07,8.139876e+07,8.406809e+07,8.679057e+07,8.956140e+07
44,Africa,COG,Congo,1018254.0,1043119.0,1069236.0,1096638.0,1125354.0,1155389.0,1186782.0,...,4.394842e+06,4.510197e+06,4.622757e+06,4.736965e+06,4.856093e+06,4.980996e+06,5.110701e+06,5.244363e+06,5.380504e+06,5.518092e+06
45,South America,COL,Colombia,16057714.0,16567817.0,17092919.0,17629978.0,18175187.0,18725242.0,19279734.0,...,4.566275e+07,4.607572e+07,4.649549e+07,4.696771e+07,4.752067e+07,4.817505e+07,4.890984e+07,4.966106e+07,5.033944e+07,5.088288e+07
46,Africa,COM,Comoros,191122.0,194149.0,197202.0,200371.0,203762.0,207429.0,211477.0,...,7.065780e+05,7.238650e+05,7.415110e+05,7.593900e+05,7.774350e+05,7.955970e+05,8.138900e+05,8.323220e+05,8.508910e+05,8.695950e+05
47,Africa,CPV,Cabo Verde,201770.0,205321.0,210141.0,216087.0,222949.0,230421.0,238655.0,...,4.988580e+05,5.052410e+05,5.117400e+05,5.182760e+05,5.247400e+05,5.311400e+05,5.374990e+05,5.437640e+05,5.499360e+05,5.559880e+05
48,North America,CRI,Costa Rica,1330787.0,1381187.0,1433346.0,1486555.0,1539942.0,1592834.0,1645076.0,...,4.633086e+06,4.688003e+06,4.742111e+06,4.795390e+06,4.847805e+06,4.899336e+06,4.949955e+06,4.999443e+06,5.047561e+06,5.094114e+06
49,NaN,CSS,Caribbean small states,4194711.0,4274052.0,4353623.0,4432240.0,4508189.0,4580382.0,4648353.0,...,7.022367e+06,7.072640e+06,7.123315e+06,7.173443e+06,7.222197e+06,7.269385e+06,7.314956e+06,7.358929e+06,7.401389e+06,7.442291e+06

In [99]:
# fill contiennt null values
population['continent'] = population['continent'].fillna(population['country'].map(dict_continent))

In [100]:
population.to_csv('./data/population_full.csv', index=False)

In [101]:
population[population['continent'].isnull()]

,continent,country_code,country,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,ABW,Aruba,5.420800e+04,5.543400e+04,5.623400e+04,5.669900e+04,5.702900e+04,5.735700e+04,5.770200e+04,...,1.020500e+05,1.025650e+05,1.031650e+05,1.037760e+05,1.043390e+05,1.048650e+05,1.053610e+05,1.058460e+05,1.063100e+05,1.067660e+05
1,NaN,AFE,Africa Eastern and Southern,1.308368e+08,1.341598e+08,1.376146e+08,1.412020e+08,1.449202e+08,1.487700e+08,1.527527e+08,...,5.327604e+08,5.474829e+08,5.626016e+08,5.780754e+08,5.938718e+08,6.099789e+08,6.263929e+08,6.430901e+08,6.600463e+08,6.772433e+08
3,NaN,AFW,Africa Western and Central,9.639642e+07,9.840722e+07,1.005070e+08,1.026913e+08,1.049535e+08,1.072899e+08,1.097018e+08,...,3.602854e+08,3.702430e+08,3.804379e+08,3.908830e+08,4.015867e+08,4.125513e+08,4.237699e+08,4.352294e+08,4.469116e+08,4.588035e+08
7,NaN,ARB,Arab World,9.219772e+07,9.472454e+07,9.733444e+07,1.000342e+08,1.028328e+08,1.057364e+08,1.087586e+08,...,3.631568e+08,3.714376e+08,3.796965e+08,3.878998e+08,3.960283e+08,4.040429e+08,4.119428e+08,4.198520e+08,4.278703e+08,4.360807e+08
11,NaN,ASM,American Samoa,2.012700e+04,2.060500e+04,2.124600e+04,2.202900e+04,2.285000e+04,2.367500e+04,2.447300e+04,...,5.575500e+04,5.566900e+04,5.571700e+04,5.579100e+04,5.580600e+04,5.573900e+04,5.561700e+04,5.546100e+04,5.531200e+04,5.519700e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,NaN,UMC,Upper middle income,1.136464e+09,1.140114e+09,1.156187e+09,1.183604e+09,1.210649e+09,1.238613e+09,1.269459e+09,...,2.364103e+09,2.383978e+09,2.404063e+09,2.423763e+09,2.442626e+09,2.461213e+09,2.480025e+09,2.496446e+09,2.510773e+09,2.522438e+09
256,NaN,VGB,British Virgin Islands,8.053000e+03,8.164000e+03,8.319000e+03,8.469000e+03,8.644000e+03,8.836000e+03,9.022000e+03,...,2.832600e+04,2.865400e+04,2.885000e+04,2.898500e+04,2.914800e+04,2.935500e+04,2.956700e+04,2.979500e+04,3.003300e+04,3.023700e+04
257,NaN,VIR,Virgin Islands (U.S.),3.250000e+04,3.430000e+04,3.500000e+04,3.980000e+04,4.080000e+04,4.350000e+04,4.620000e+04,...,1.082900e+05,1.081880e+05,1.080410e+05,1.078820e+05,1.077120e+05,1.075160e+05,1.072810e+05,1.070010e+05,1.066690e+05,1.062900e+05
260,NaN,WLD,World,3.032156e+09,3.071596e+09,3.124561e+09,3.189656e+09,3.255146e+09,3.322047e+09,3.392098e+09,...,7.003760e+09,7.089255e+09,7.175500e+09,7.261847e+09,7.347679e+09,7.433569e+09,7.519183e+09,7.602433e+09,7.683438e+09,7.763499e+09
262,NaN,XKX,Kosovo,9.470000e+05,9.660000e+05,9.940000e+05,1.022000e+06,1.050000e+06,1.078000e+06,1.106000e+06,...,1.791000e+06,1.807106e+06,1.818117e+06,1.812771e+06,1.788196e+06,1.777557e+06,1.791003e+06,1.797085e+06,1.788878e+06,1.790133e+06

#### About these extra rows in population 

73 row extra

'Arab World'
'World'
'Virgin Islands' (US)
'Africa Eastern and Southern'

Not countries but extra groups of population

In [102]:
extra_population.to_csv('./data/extra_population.csv', index=False)

In [103]:
#income inequality, what extra countries, extra rows compares to the base countries
extra_income_ineq = pd.merge(countries, income_inequality, on='country', how='outer')
extra_income_ineq.sort_values(by='country').head(50)

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,37.7,37.7,37.7,37.7,37.7,37.7,37.7,37.7,38.3,39.0
1,Europe,Albania,ALB,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,29.0,31.6,34.6,32.9,33.7,33.2,33.2,33.2,33.8,34.5
2,Africa,Algeria,DZA,56.2,56.2,56.2,56.2,56.2,56.2,56.2,...,27.4,27.3,27.3,27.3,27.3,27.3,27.3,27.3,27.9,28.6
3,Europe,Andorra,AND,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.5,35.4,35.4,35.3,35.2,35.2,35.1,35.0,35.0,35.0
4,Africa,Angola,AGO,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,46.0,46.8,47.7,48.5,49.4,50.3,51.3,51.3,52.1,53.0
5,North America,Antigua and Barbuda,ATG,43.4,43.4,43.4,43.4,43.4,43.4,43.4,...,37.4,37.4,37.4,37.3,37.3,37.2,37.1,37.0,37.0,37.0
6,South America,Argentina,ARG,47.7,47.7,47.7,47.7,47.7,47.7,47.7,...,41.3,41.0,41.6,41.8,42.0,41.1,41.3,42.9,43.6,44.6
7,Europe,Armenia,ARM,31.5,31.5,31.5,31.5,31.5,31.5,31.5,...,29.6,30.6,31.5,32.4,32.5,33.6,34.4,29.9,30.5,31.2
8,Australia and Oceania,Australia,AUS,38.7,38.7,38.7,38.7,38.7,38.7,38.7,...,34.5,34.5,34.4,34.4,34.4,34.4,34.4,34.4,34.4,34.4
9,Europe,Austria,AUT,53.4,53.4,53.4,53.4,53.4,53.4,53.4,...,30.5,30.8,30.5,30.5,30.8,29.7,30.9,30.9,31.4,32.2
10,Europe,Azerbaijan,AZE,70.5,70.5,70.5,70.5,70.5,70.5,70.5,...,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.6,28.3
11,North America,Bahamas,BHS,42.1,42.1,42.1,42.1,42.1,42.1,42.1,...,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0
12,Asia,Bahrain,BHR,42.5,42.4,42.4,42.4,42.4,42.4,42.4,...,35.6,35.5,35.5,35.5,35.5,35.5,35.5,35.6,35.6,36.3
13,Asia,Bangladesh,BGD,27.8,27.8,27.8,27.8,27.8,27.8,27.8,...,32.2,32.3,32.3,32.4,32.4,32.4,32.4,32.4,33.0,33.8
14,North America,Barbados,BRB,43.0,43.0,43.0,43.0,43.0,43.0,43.0,...,44.0,44.0,43.9,43.9,43.9,43.9,43.9,43.9,43.9,43.9
15,Europe,Belarus,BLR,47.6,47.6,47.6,47.6,47.6,47.6,47.6,...,26.5,26.6,27.2,25.6,25.3,25.4,25.2,25.3,25.9,26.6
16,Europe,Belgium,BEL,62.4,62.4,62.4,62.4,62.4,62.4,62.4,...,27.5,27.7,28.1,27.7,27.6,27.4,27.2,27.2,27.9,28.6
17,North America,Belize,BLZ,60.8,60.8,60.8,60.8,60.8,60.8,60.8,...,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0
18,Africa,Benin,BEN,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,44.5,45.5,46.6,47.8,48.1,48.1,48.1,48.1,48.8,49.6
19,Asia,Bhutan,BTN,41.3,41.3,41.3,41.3,41.3,41.3,41.3,...,38.8,38.5,38.3,38.0,37.7,37.4,37.3,37.3,37.3,37.3
20,South America,Bolivia,BOL,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,46.6,47.6,47.8,46.7,45.3,44.6,42.6,41.6,42.3,43.0
21,Europe,Bosnia and Herzegovina,BIH,33.4,33.4,33.4,33.4,33.4,33.4,33.4,...,33.0,33.0,32.9,32.8,32.8,32.7,32.6,32.5,33.1,33.9
22,Africa,Botswana,BWA,46.5,46.5,46.5,46.5,46.5,46.5,46.5,...,56.8,55.6,54.5,53.3,53.3,53.3,53.3,53.3,53.3,54.0
23,South America,Brazil,BRA,47.5,47.5,47.5,47.5,47.5,47.5,47.5,...,53.5,52.8,52.1,51.9,53.3,53.3,53.9,53.4,54.6,56.1
24,Asia,Brunei,BRN,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,34.8,34.8,34.9,34.9,35.0,35.0,35.0,35.0,35.0,35.0
25,Europe,Bulgaria,BGR,38.9,38.9,38.9,38.9,38.9,38.9,38.9,...,36.0,36.6,37.4,38.6,40.6,40.4,41.3,41.3,41.9,42.7
26,Africa,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Burkina Faso,NaN,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,37.0,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6
28,Asia,Burma (Myanmar),MMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Africa,Burundi,BDI,34.3,34.3,34.3,34.3,34.3,34.3,34.3,...,37.8,38.6,38.9,39.0,39.0,39.0,39.0,39.0,40.2,41.7
30,Asia,Cambodia,KHM,44.8,44.8,44.8,44.8,44.8,44.8,44.8,...,40.9,40.8,40.7,40.6,40.5,40.4,40.3,40.2,40.2,40.9
31,Africa,Cameroon,CMR,44.3,44.3,44.3,44.3,44.3,44.3,44.3,...,45.5,46.1,46.6,46.7,46.7,46.7,46.7,46.7,47.4,48.3
32,North America,Canada,CAN,44.8,44.8,44.8,44.8,44.8,44.8,44.8,...,33.5,33.8,33.2,33.8,32.7,33.3,33.3,33.3,34.0,34.9
33,Africa,Cape Verde,CPV,52.7,52.7,52.7,52.7,52.7,52.7,52.7,...,44.1,43.5,43.0,42.4,42.4,42.4,42.4,42.4,42.4,42.4
34,Africa,Central African Republic,CAF,57.8,57.8,57.8,57.8,57.8,57.8,57.8,...,56.7,56.7,56.7,56.7,56.7,56.7,56.7,56.7,57.9,59.4
35,Africa,Chad,TCD,31.3,31.3,31.3,31.3,31.3,31.3,31.3,...,43.4,43.4,43.4,43.4,43.4,43.4,43.4,43.4,44.1,45.0
36,South America,Chile,CHL,48.4,48.4,48.4,48.4,48.4,48.4,48.4,...,45.9,45.8,45.1,44.4,44.4,44.4,44.4,44.4,45.1,46.0
37,Asia,China,CHN,44.9,44.9,44.9,44.9,44.9,44.9,44.9,...,42.2,39.7,39.2,38.6,38.5,38.5,38.5,38.5,39.1,39.1
38,South America,Colombia,COL,59.7,59.7,59.7,59.7,59.7,59.7,59.7,...,52.6,52.6,52.5,51.0,50.6,49.7,50.4,51.3,52.0,53.0
39,Africa,Comoros,COM,35.1,35.1,35.1,35.1,35.1,35.1,35.1,...,47.3,46.3,45.3,45.1,45.1,45.1,45.1,45.1,45.1,45.1
40,Africa,Congo,COG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,"Congo, Dem. Rep.",NaN,40.4,40.4,40.4,40.4,40.4,40.4,40.4,...,42.1,42.1,42.1,42.1,42.1,42.1,42.1,42.1,43.3,44.7
42,Africa,"Congo, Democratic Republic of",COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,"Congo, Rep.",NaN,56.6,56.6,56.6,56.6,56.6,56.6,56.6,...,48.9,48.9,48.9,48.9,48.9,48.9,48.9,48.9,49.7,50.7
44,North America,Costa Rica,CRI,47.0,47.0,47.0,47.0,47.0,47.0,47.0,...,48.6,49.3,48.6,48.4,48.7,48.4,48.0,48.2,48.8,49.5
45,NaN,Cote d'Ivoire,NaN,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,42.2,42.0,41.7,41.5,41.5,41.5,41.5,41.5,42.2,43.0
46,Europe,Croatia,HRV,17.0,17.0,17.0,17.0,17.0,17.0,17.0,...,32.5,32.0,32.1,31.1,30.9,30.4,29.7,29.7,30.3,31.1
47,North America,Cuba,CUB,43.7,43.7,43.7,43.7,43.7,43.7,43.6,...,43.4,43.4,43.4,43.4,43.4,43.4,43.4,43.4,43.4,44.1
48,Europe,Cyprus,CYP,29.9,29.9,29.9,29.9,29.9,29.9,29.9,...,34.3,37.0,35.6,34.0,32.9,31.4,32.7,32.7,32.7,32.7
49,Europe,Czech Republic,CZE,23.6,23.6,23.6,23.6,23.6,23.6,23.6,...,26.1,26.5,25.9,25.9,25.4,24.9,25.0,25.0,25.7,26.5

In [104]:
extra_income_ineq['country_code'] = extra_income_ineq['country_code'].fillna(extra_income_ineq['country'].map(dict_country_code_2))
extra_income_ineq['country'] = extra_income_ineq['country'].replace(rename_dict)
extra_income_ineq.sort_values(by='country').head(50)

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,37.7,37.7,37.7,37.7,37.7,37.7,37.7,37.7,38.3,39.0
1,Europe,Albania,ALB,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,29.0,31.6,34.6,32.9,33.7,33.2,33.2,33.2,33.8,34.5
2,Africa,Algeria,DZA,56.2,56.2,56.2,56.2,56.2,56.2,56.2,...,27.4,27.3,27.3,27.3,27.3,27.3,27.3,27.3,27.9,28.6
3,Europe,Andorra,AND,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.5,35.4,35.4,35.3,35.2,35.2,35.1,35.0,35.0,35.0
4,Africa,Angola,AGO,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,46.0,46.8,47.7,48.5,49.4,50.3,51.3,51.3,52.1,53.0
5,North America,Antigua and Barbuda,ATG,43.4,43.4,43.4,43.4,43.4,43.4,43.4,...,37.4,37.4,37.4,37.3,37.3,37.2,37.1,37.0,37.0,37.0
6,South America,Argentina,ARG,47.7,47.7,47.7,47.7,47.7,47.7,47.7,...,41.3,41.0,41.6,41.8,42.0,41.1,41.3,42.9,43.6,44.6
7,Europe,Armenia,ARM,31.5,31.5,31.5,31.5,31.5,31.5,31.5,...,29.6,30.6,31.5,32.4,32.5,33.6,34.4,29.9,30.5,31.2
8,Australia and Oceania,Australia,AUS,38.7,38.7,38.7,38.7,38.7,38.7,38.7,...,34.5,34.5,34.4,34.4,34.4,34.4,34.4,34.4,34.4,34.4
9,Europe,Austria,AUT,53.4,53.4,53.4,53.4,53.4,53.4,53.4,...,30.5,30.8,30.5,30.5,30.8,29.7,30.9,30.9,31.4,32.2
10,Europe,Azerbaijan,AZE,70.5,70.5,70.5,70.5,70.5,70.5,70.5,...,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.6,28.3
11,North America,Bahamas,BHS,42.1,42.1,42.1,42.1,42.1,42.1,42.1,...,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0
12,Asia,Bahrain,BHR,42.5,42.4,42.4,42.4,42.4,42.4,42.4,...,35.6,35.5,35.5,35.5,35.5,35.5,35.5,35.6,35.6,36.3
13,Asia,Bangladesh,BGD,27.8,27.8,27.8,27.8,27.8,27.8,27.8,...,32.2,32.3,32.3,32.4,32.4,32.4,32.4,32.4,33.0,33.8
14,North America,Barbados,BRB,43.0,43.0,43.0,43.0,43.0,43.0,43.0,...,44.0,44.0,43.9,43.9,43.9,43.9,43.9,43.9,43.9,43.9
15,Europe,Belarus,BLR,47.6,47.6,47.6,47.6,47.6,47.6,47.6,...,26.5,26.6,27.2,25.6,25.3,25.4,25.2,25.3,25.9,26.6
16,Europe,Belgium,BEL,62.4,62.4,62.4,62.4,62.4,62.4,62.4,...,27.5,27.7,28.1,27.7,27.6,27.4,27.2,27.2,27.9,28.6
17,North America,Belize,BLZ,60.8,60.8,60.8,60.8,60.8,60.8,60.8,...,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0
18,Africa,Benin,BEN,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,44.5,45.5,46.6,47.8,48.1,48.1,48.1,48.1,48.8,49.6
19,Asia,Bhutan,BTN,41.3,41.3,41.3,41.3,41.3,41.3,41.3,...,38.8,38.5,38.3,38.0,37.7,37.4,37.3,37.3,37.3,37.3
20,South America,Bolivia,BOL,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,46.6,47.6,47.8,46.7,45.3,44.6,42.6,41.6,42.3,43.0
21,Europe,Bosnia and Herzegovina,BIH,33.4,33.4,33.4,33.4,33.4,33.4,33.4,...,33.0,33.0,32.9,32.8,32.8,32.7,32.6,32.5,33.1,33.9
22,Africa,Botswana,BWA,46.5,46.5,46.5,46.5,46.5,46.5,46.5,...,56.8,55.6,54.5,53.3,53.3,53.3,53.3,53.3,53.3,54.0
23,South America,Brazil,BRA,47.5,47.5,47.5,47.5,47.5,47.5,47.5,...,53.5,52.8,52.1,51.9,53.3,53.3,53.9,53.4,54.6,56.1
24,Asia,Brunei,BRN,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,34.8,34.8,34.9,34.9,35.0,35.0,35.0,35.0,35.0,35.0
25,Europe,Bulgaria,BGR,38.9,38.9,38.9,38.9,38.9,38.9,38.9,...,36.0,36.6,37.4,38.6,40.6,40.4,41.3,41.3,41.9,42.7
26,Africa,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Burkina,BFA,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,37.0,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6
131,NaN,Burma (Myanmar),MMR,26.2,26.2,26.2,26.2,26.2,26.2,26.2,...,38.1,38.1,38.1,38.1,34.2,30.7,30.7,30.7,31.3,32.1
28,Asia,Burma (Myanmar),MMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Africa,Burundi,BDI,34.3,34.3,34.3,34.3,34.3,34.3,34.3,...,37.8,38.6,38.9,39.0,39.0,39.0,39.0,39.0,40.2,41.7
30,Asia,Cambodia,KHM,44.8,44.8,44.8,44.8,44.8,44.8,44.8,...,40.9,40.8,40.7,40.6,40.5,40.4,40.3,40.2,40.2,40.9
31,Africa,Cameroon,CMR,44.3,44.3,44.3,44.3,44.3,44.3,44.3,...,45.5,46.1,46.6,46.7,46.7,46.7,46.7,46.7,47.4,48.3
32,North America,Canada,CAN,44.8,44.8,44.8,44.8,44.8,44.8,44.8,...,33.5,33.8,33.2,33.8,32.7,33.3,33.3,33.3,34.0,34.9
33,Africa,Cape Verde,CPV,52.7,52.7,52.7,52.7,52.7,52.7,52.7,...,44.1,43.5,43.0,42.4,42.4,42.4,42.4,42.4,42.4,42.4
34,Africa,Central African Republic,CAF,57.8,57.8,57.8,57.8,57.8,57.8,57.8,...,56.7,56.7,56.7,56.7,56.7,56.7,56.7,56.7,57.9,59.4
35,Africa,Chad,TCD,31.3,31.3,31.3,31.3,31.3,31.3,31.3,...,43.4,43.4,43.4,43.4,43.4,43.4,43.4,43.4,44.1,45.0
36,South America,Chile,CHL,48.4,48.4,48.4,48.4,48.4,48.4,48.4,...,45.9,45.8,45.1,44.4,44.4,44.4,44.4,44.4,45.1,46.0
37,Asia,China,CHN,44.9,44.9,44.9,44.9,44.9,44.9,44.9,...,42.2,39.7,39.2,38.6,38.5,38.5,38.5,38.5,39.1,39.1
38,South America,Colombia,COL,59.7,59.7,59.7,59.7,59.7,59.7,59.7,...,52.6,52.6,52.5,51.0,50.6,49.7,50.4,51.3,52.0,53.0
39,Africa,Comoros,COM,35.1,35.1,35.1,35.1,35.1,35.1,35.1,...,47.3,46.3,45.3,45.1,45.1,45.1,45.1,45.1,45.1,45.1
40,Africa,Congo,COG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,Congo,COG,56.6,56.6,56.6,56.6,56.6,56.6,56.6,...,48.9,48.9,48.9,48.9,48.9,48.9,48.9,48.9,49.7,50.7
41,NaN,"Congo, Democratic Republic of",COD,40.4,40.4,40.4,40.4,40.4,40.4,40.4,...,42.1,42.1,42.1,42.1,42.1,42.1,42.1,42.1,43.3,44.7
42,Africa,"Congo, Democratic Republic of",COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,North America,Costa Rica,CRI,47.0,47.0,47.0,47.0,47.0,47.0,47.0,...,48.6,49.3,48.6,48.4,48.7,48.4,48.0,48.2,48.8,49.5
46,Europe,Croatia,HRV,17.0,17.0,17.0,17.0,17.0,17.0,17.0,...,32.5,32.0,32.1,31.1,30.9,30.4,29.7,29.7,30.3,31.1
47,North America,Cuba,CUB,43.7,43.7,43.7,43.7,43.7,43.7,43.6,...,43.4,43.4,43.4,43.4,43.4,43.4,43.4,43.4,43.4,44.1
48,Europe,Cyprus,CYP,29.9,29.9,29.9,29.9,29.9,29.9,29.9,...,34.3,37.0,35.6,34.0,32.9,31.4,32.7,32.7,32.7,32.7
49,Europe,Czech Republic,CZE,23.6,23.6,23.6,23.6,23.6,23.6,23.6,...,26.1,26.5,25.9,25.9,25.4,24.9,25.0,25.0,25.7,26.5

In [105]:
extra_income_ineq['nan_count'] = extra_income_ineq.isnull().sum(axis=1)
extra_income_ineq = extra_income_ineq.sort_values(by=['country_code', 'nan_count'])
extra_income_ineq.head(30)

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,nan_count
0,Asia,Afghanistan,AFG,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,37.7,37.7,37.7,37.7,37.7,37.7,37.7,38.3,39.0,0
4,Africa,Angola,AGO,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,46.8,47.7,48.5,49.4,50.3,51.3,51.3,52.1,53.0,0
1,Europe,Albania,ALB,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,31.6,34.6,32.9,33.7,33.2,33.2,33.2,33.8,34.5,0
3,Europe,Andorra,AND,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.4,35.4,35.3,35.2,35.2,35.1,35.0,35.0,35.0,0
204,Asia,United Arab Emirates,ARE,39.8,39.8,39.8,39.8,39.8,39.8,39.8,...,32.5,31.1,29.7,28.4,27.2,26.0,26.0,26.0,26.7,0
6,South America,Argentina,ARG,47.7,47.7,47.7,47.7,47.7,47.7,47.7,...,41.0,41.6,41.8,42.0,41.1,41.3,42.9,43.6,44.6,0
7,Europe,Armenia,ARM,31.5,31.5,31.5,31.5,31.5,31.5,31.5,...,30.6,31.5,32.4,32.5,33.6,34.4,29.9,30.5,31.2,0
5,North America,Antigua and Barbuda,ATG,43.4,43.4,43.4,43.4,43.4,43.4,43.4,...,37.4,37.4,37.3,37.3,37.2,37.1,37.0,37.0,37.0,0
8,Australia and Oceania,Australia,AUS,38.7,38.7,38.7,38.7,38.7,38.7,38.7,...,34.5,34.4,34.4,34.4,34.4,34.4,34.4,34.4,34.4,0
9,Europe,Austria,AUT,53.4,53.4,53.4,53.4,53.4,53.4,53.4,...,30.8,30.5,30.5,30.8,29.7,30.9,30.9,31.4,32.2,0
10,Europe,Azerbaijan,AZE,70.5,70.5,70.5,70.5,70.5,70.5,70.5,...,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.6,28.3,0
29,Africa,Burundi,BDI,34.3,34.3,34.3,34.3,34.3,34.3,34.3,...,38.6,38.9,39.0,39.0,39.0,39.0,39.0,40.2,41.7,0
16,Europe,Belgium,BEL,62.4,62.4,62.4,62.4,62.4,62.4,62.4,...,27.7,28.1,27.7,27.6,27.4,27.2,27.2,27.9,28.6,0
18,Africa,Benin,BEN,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,45.5,46.6,47.8,48.1,48.1,48.1,48.1,48.8,49.6,0
27,NaN,Burkina,BFA,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6,1
26,Africa,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222
13,Asia,Bangladesh,BGD,27.8,27.8,27.8,27.8,27.8,27.8,27.8,...,32.3,32.3,32.4,32.4,32.4,32.4,32.4,33.0,33.8,0
25,Europe,Bulgaria,BGR,38.9,38.9,38.9,38.9,38.9,38.9,38.9,...,36.6,37.4,38.6,40.6,40.4,41.3,41.3,41.9,42.7,0
12,Asia,Bahrain,BHR,42.5,42.4,42.4,42.4,42.4,42.4,42.4,...,35.5,35.5,35.5,35.5,35.5,35.5,35.6,35.6,36.3,0
11,North America,Bahamas,BHS,42.1,42.1,42.1,42.1,42.1,42.1,42.1,...,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,0
21,Europe,Bosnia and Herzegovina,BIH,33.4,33.4,33.4,33.4,33.4,33.4,33.4,...,33.0,32.9,32.8,32.8,32.7,32.6,32.5,33.1,33.9,0
15,Europe,Belarus,BLR,47.6,47.6,47.6,47.6,47.6,47.6,47.6,...,26.6,27.2,25.6,25.3,25.4,25.2,25.3,25.9,26.6,0
17,North America,Belize,BLZ,60.8,60.8,60.8,60.8,60.8,60.8,60.8,...,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,53.0,0
20,South America,Bolivia,BOL,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,47.6,47.8,46.7,45.3,44.6,42.6,41.6,42.3,43.0,0
23,South America,Brazil,BRA,47.5,47.5,47.5,47.5,47.5,47.5,47.5,...,52.8,52.1,51.9,53.3,53.3,53.9,53.4,54.6,56.1,0
14,North America,Barbados,BRB,43.0,43.0,43.0,43.0,43.0,43.0,43.0,...,44.0,43.9,43.9,43.9,43.9,43.9,43.9,43.9,43.9,0
24,Asia,Brunei,BRN,42.0,42.0,42.0,42.0,42.0,42.0,42.0,...,34.8,34.9,34.9,35.0,35.0,35.0,35.0,35.0,35.0,0
19,Asia,Bhutan,BTN,41.3,41.3,41.3,41.3,41.3,41.3,41.3,...,38.5,38.3,38.0,37.7,37.4,37.3,37.3,37.3,37.3,0
22,Africa,Botswana,BWA,46.5,46.5,46.5,46.5,46.5,46.5,46.5,...,55.6,54.5,53.3,53.3,53.3,53.3,53.3,53.3,54.0,0
34,Africa,Central African Republic,CAF,57.8,57.8,57.8,57.8,57.8,57.8,57.8,...,56.7,56.7,56.7,56.7,56.7,56.7,56.7,57.9,59.4,0

In [106]:
extra_income_ineq = extra_income_ineq.drop_duplicates(subset='country_code', keep='first')
extra_income_ineq.head(20)

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,nan_count
0,Asia,Afghanistan,AFG,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,37.7,37.7,37.7,37.7,37.7,37.7,37.7,38.3,39.0,0
4,Africa,Angola,AGO,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,46.8,47.7,48.5,49.4,50.3,51.3,51.3,52.1,53.0,0
1,Europe,Albania,ALB,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,31.6,34.6,32.9,33.7,33.2,33.2,33.2,33.8,34.5,0
3,Europe,Andorra,AND,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.4,35.4,35.3,35.2,35.2,35.1,35.0,35.0,35.0,0
204,Asia,United Arab Emirates,ARE,39.8,39.8,39.8,39.8,39.8,39.8,39.8,...,32.5,31.1,29.7,28.4,27.2,26.0,26.0,26.0,26.7,0
6,South America,Argentina,ARG,47.7,47.7,47.7,47.7,47.7,47.7,47.7,...,41.0,41.6,41.8,42.0,41.1,41.3,42.9,43.6,44.6,0
7,Europe,Armenia,ARM,31.5,31.5,31.5,31.5,31.5,31.5,31.5,...,30.6,31.5,32.4,32.5,33.6,34.4,29.9,30.5,31.2,0
5,North America,Antigua and Barbuda,ATG,43.4,43.4,43.4,43.4,43.4,43.4,43.4,...,37.4,37.4,37.3,37.3,37.2,37.1,37.0,37.0,37.0,0
8,Australia and Oceania,Australia,AUS,38.7,38.7,38.7,38.7,38.7,38.7,38.7,...,34.5,34.4,34.4,34.4,34.4,34.4,34.4,34.4,34.4,0
9,Europe,Austria,AUT,53.4,53.4,53.4,53.4,53.4,53.4,53.4,...,30.8,30.5,30.5,30.8,29.7,30.9,30.9,31.4,32.2,0
10,Europe,Azerbaijan,AZE,70.5,70.5,70.5,70.5,70.5,70.5,70.5,...,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.6,28.3,0
29,Africa,Burundi,BDI,34.3,34.3,34.3,34.3,34.3,34.3,34.3,...,38.6,38.9,39.0,39.0,39.0,39.0,39.0,40.2,41.7,0
16,Europe,Belgium,BEL,62.4,62.4,62.4,62.4,62.4,62.4,62.4,...,27.7,28.1,27.7,27.6,27.4,27.2,27.2,27.9,28.6,0
18,Africa,Benin,BEN,40.1,40.1,40.1,40.1,40.1,40.1,40.1,...,45.5,46.6,47.8,48.1,48.1,48.1,48.1,48.8,49.6,0
27,NaN,Burkina,BFA,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6,1
13,Asia,Bangladesh,BGD,27.8,27.8,27.8,27.8,27.8,27.8,27.8,...,32.3,32.3,32.4,32.4,32.4,32.4,32.4,33.0,33.8,0
25,Europe,Bulgaria,BGR,38.9,38.9,38.9,38.9,38.9,38.9,38.9,...,36.6,37.4,38.6,40.6,40.4,41.3,41.3,41.9,42.7,0
12,Asia,Bahrain,BHR,42.5,42.4,42.4,42.4,42.4,42.4,42.4,...,35.5,35.5,35.5,35.5,35.5,35.5,35.6,35.6,36.3,0
11,North America,Bahamas,BHS,42.1,42.1,42.1,42.1,42.1,42.1,42.1,...,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,0
21,Europe,Bosnia and Herzegovina,BIH,33.4,33.4,33.4,33.4,33.4,33.4,33.4,...,33.0,32.9,32.8,32.8,32.7,32.6,32.5,33.1,33.9,0

In [107]:
extra_income_ineq.drop('nan_count', axis=1, inplace=True)
extra_income_ineq.to_csv('./data/income_inequality_full.csv', index=False)

In [108]:
extra_income_ineq.isnull().sum().sum()

22

In [109]:
income_inequality.isnull().sum().sum()

0

In [110]:
dif_country_name = extra_income_ineq[extra_income_ineq['continent'].isnull()]
dif_country_name.head()

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
27,NaN,Burkina,BFA,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,37.0,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6
45,NaN,Ivory Coast,CIV,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,42.2,42.0,41.7,41.5,41.5,41.5,41.5,41.5,42.2,43.0
41,NaN,"Congo, Democratic Republic of",COD,40.4,40.4,40.4,40.4,40.4,40.4,40.4,...,42.1,42.1,42.1,42.1,42.1,42.1,42.1,42.1,43.3,44.7
43,NaN,Congo,COG,56.6,56.6,56.6,56.6,56.6,56.6,56.6,...,48.9,48.9,48.9,48.9,48.9,48.9,48.9,48.9,49.7,50.7
124,NaN,"Micronesia, Fed. Sts.",FSM,46.1,46.1,46.1,46.1,46.1,46.1,46.1,...,40.3,40.1,40.7,40.6,40.6,40.6,40.6,40.6,40.6,40.6

In [111]:
dif_country_name['country']

27                            Burkina
45                        Ivory Coast
41      Congo, Democratic Republic of
43                              Congo
124             Micronesia, Fed. Sts.
80                   Hong Kong, China
100                        Kyrgyzstan
181               St. Kitts and Nevis
177                      Korea, South
102                              Laos
182                         St. Lucia
141                         Macedonia
131                   Burma (Myanmar)
140                       North Korea
146                         Palestine
156                            Russia
171                          Slovakia
61                           Eswatini
194                       Timor-Leste
190                            Taiwan
78                           Holy See
183    St. Vincent and the Grenadines
Name: country, dtype: object

In [112]:
dict_country_code_2 = {
    "Burkina Faso": "BFA",
    "Congo, Dem. Rep.": "COD",
    "Congo, Rep.": "COG",
    "Cote d'Ivoire": "CIV",
    "Eswatini": "SWZ",
    "Holy See": "VAT",
    "Hong Kong, China": "HKG",
    "Kyrgyz Republic": "KGZ",
    "Lao": "LAO",
    "Micronesia, Fed. Sts.": "FSM",
    "Myanmar": "MMR",
    "North Korea": "PRK",
    "North Macedonia": "MKD",
    "Palestine": "PSE",
    "Russia": "RUS",
    "Slovak Republic": "SVK",
    "South Korea": "KOR",
    "St. Kitts and Nevis": "KNA",
    "St. Lucia": "LCA",
    "St. Vincent and the Grenadines": "VCT",
    "Taiwan": "TWN",
    "Timor-Leste": "TLS"
}

dif_country_name['country_code'] = dif_country_name['country_code'].fillna(dif_country_name['country'].map(dict_country_code_2))

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/3118496510.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dif_country_name['country_code'] = dif_country_name['country_code'].fillna(dif_country_name['country'].map(dict_country_code_2))

In [113]:
dif_name = dif_country_name[dif_country_name['continent'].isnull()]
dif_name.sort_values(by='country_code')

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
27,NaN,Burkina,BFA,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,37.0,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6
45,NaN,Ivory Coast,CIV,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,42.2,42.0,41.7,41.5,41.5,41.5,41.5,41.5,42.2,43.0
41,NaN,"Congo, Democratic Republic of",COD,40.4,40.4,40.4,40.4,40.4,40.4,40.4,...,42.1,42.1,42.1,42.1,42.1,42.1,42.1,42.1,43.3,44.7
43,NaN,Congo,COG,56.6,56.6,56.6,56.6,56.6,56.6,56.6,...,48.9,48.9,48.9,48.9,48.9,48.9,48.9,48.9,49.7,50.7
124,NaN,"Micronesia, Fed. Sts.",FSM,46.1,46.1,46.1,46.1,46.1,46.1,46.1,...,40.3,40.1,40.7,40.6,40.6,40.6,40.6,40.6,40.6,40.6
80,NaN,"Hong Kong, China",HKG,48.7,48.7,48.7,48.7,48.7,48.7,48.7,...,53.7,53.7,53.7,53.7,53.7,53.7,53.7,53.7,53.7,53.7
100,NaN,Kyrgyzstan,KGZ,46.0,46.0,46.0,46.0,46.0,46.0,46.0,...,27.4,28.8,26.8,29.0,26.8,27.3,27.7,29.7,30.3,31.0
181,NaN,St. Kitts and Nevis,KNA,42.6,42.6,42.6,42.6,42.6,42.6,42.6,...,36.9,36.8,36.7,36.7,36.7,36.7,36.7,36.6,36.6,36.6
177,NaN,"Korea, South",KOR,32.1,32.1,32.1,32.1,32.1,32.1,32.1,...,31.6,31.4,31.2,31.3,31.4,31.4,31.4,31.4,31.4,32.1
102,NaN,Laos,LAO,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,36.0,36.4,36.9,37.4,37.8,38.3,38.8,38.8,38.8,38.8
182,NaN,St. Lucia,LCA,42.6,42.6,42.6,42.6,42.6,42.6,42.6,...,49.5,49.9,50.3,50.8,51.2,51.2,51.2,51.2,51.2,51.2
141,NaN,Macedonia,MKD,31.1,31.1,31.1,31.1,31.1,31.1,31.1,...,38.1,36.2,35.2,35.6,34.5,34.2,33.0,33.0,33.6,34.3
131,NaN,Burma (Myanmar),MMR,26.2,26.2,26.2,26.2,26.2,26.2,26.2,...,38.1,38.1,38.1,38.1,34.2,30.7,30.7,30.7,31.3,32.1
140,NaN,North Korea,PRK,45.6,45.6,45.6,45.6,45.6,45.6,45.6,...,41.7,41.7,41.7,41.7,41.7,41.8,41.9,42.0,42.0,42.0
146,NaN,Palestine,PSE,37.0,37.0,37.0,37.0,37.0,37.0,37.0,...,34.3,34.1,34.0,33.8,33.7,33.6,33.6,33.6,34.2,34.9
156,NaN,Russia,RUS,52.8,52.8,52.8,52.8,52.8,52.8,52.8,...,40.7,40.9,39.9,37.7,36.9,37.2,37.5,37.5,38.3,39.7
171,NaN,Slovakia,SVK,29.9,29.9,29.9,29.9,29.9,29.9,29.9,...,26.1,28.1,26.1,26.5,25.2,25.1,25.0,25.0,25.6,26.4
61,NaN,Eswatini,SWZ,61.3,61.3,61.3,61.3,61.3,61.3,61.3,...,52.8,53.2,53.7,54.1,54.6,54.6,54.6,54.6,55.3,56.1
194,NaN,Timor-Leste,TLS,36.8,36.8,36.8,36.8,36.8,36.8,36.8,...,28.4,28.5,28.6,28.8,28.8,28.8,28.8,28.8,29.4,30.3
190,NaN,Taiwan,TWN,33.0,33.0,33.0,33.0,33.0,33.0,33.0,...,32.7,32.5,32.1,31.8,31.5,31.5,31.5,31.5,31.5,31.5
78,NaN,Holy See,VAT,40.0,40.0,40.0,40.0,40.0,40.0,40.0,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
183,NaN,St. Vincent and the Grenadines,VCT,43.2,43.2,43.2,43.2,43.2,43.2,43.2,...,38.3,38.2,38.2,38.2,38.2,38.1,38.1,38.1,38.1,38.1

In [114]:
countries_name_temp = pd.merge(countries[['country', 'country_code']], dif_country_name, on='country_code', how='inner')
countries_name_temp.drop('country_y', inplace=True, axis=1)
countries_name_temp.sort_values(by='country_code')

,country_x,country_code,continent,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Burkina,BFA,NaN,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,37.0,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6
3,Ivory Coast,CIV,NaN,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,42.2,42.0,41.7,41.5,41.5,41.5,41.5,41.5,42.2,43.0
2,"Congo, Democratic Republic of",COD,NaN,40.4,40.4,40.4,40.4,40.4,40.4,40.4,...,42.1,42.1,42.1,42.1,42.1,42.1,42.1,42.1,43.3,44.7
1,Congo,COG,NaN,56.6,56.6,56.6,56.6,56.6,56.6,56.6,...,48.9,48.9,48.9,48.9,48.9,48.9,48.9,48.9,49.7,50.7
18,Micronesia,FSM,NaN,46.1,46.1,46.1,46.1,46.1,46.1,46.1,...,40.3,40.1,40.7,40.6,40.6,40.6,40.6,40.6,40.6,40.6
9,Kyrgyzstan,KGZ,NaN,46.0,46.0,46.0,46.0,46.0,46.0,46.0,...,27.4,28.8,26.8,29.0,26.8,27.3,27.7,29.7,30.3,31.0
15,Saint Kitts and Nevis,KNA,NaN,42.6,42.6,42.6,42.6,42.6,42.6,42.6,...,36.9,36.8,36.7,36.7,36.7,36.7,36.7,36.6,36.6,36.6
8,"Korea, South",KOR,NaN,32.1,32.1,32.1,32.1,32.1,32.1,32.1,...,31.6,31.4,31.2,31.3,31.4,31.4,31.4,31.4,31.4,32.1
10,Laos,LAO,NaN,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,36.0,36.4,36.9,37.4,37.8,38.3,38.8,38.8,38.8,38.8
16,Saint Lucia,LCA,NaN,42.6,42.6,42.6,42.6,42.6,42.6,42.6,...,49.5,49.9,50.3,50.8,51.2,51.2,51.2,51.2,51.2,51.2
12,Macedonia,MKD,NaN,31.1,31.1,31.1,31.1,31.1,31.1,31.1,...,38.1,36.2,35.2,35.6,34.5,34.2,33.0,33.0,33.6,34.3
5,Burma (Myanmar),MMR,NaN,26.2,26.2,26.2,26.2,26.2,26.2,26.2,...,38.1,38.1,38.1,38.1,34.2,30.7,30.7,30.7,31.3,32.1
7,"Korea, North",PRK,NaN,45.6,45.6,45.6,45.6,45.6,45.6,45.6,...,41.7,41.7,41.7,41.7,41.7,41.8,41.9,42.0,42.0,42.0
11,Russian Federation,RUS,NaN,52.8,52.8,52.8,52.8,52.8,52.8,52.8,...,40.7,40.9,39.9,37.7,36.9,37.2,37.5,37.5,38.3,39.7
13,Slovakia,SVK,NaN,29.9,29.9,29.9,29.9,29.9,29.9,29.9,...,26.1,28.1,26.1,26.5,25.2,25.1,25.0,25.0,25.6,26.4
4,Swaziland,SWZ,NaN,61.3,61.3,61.3,61.3,61.3,61.3,61.3,...,52.8,53.2,53.7,54.1,54.6,54.6,54.6,54.6,55.3,56.1
6,East Timor,TLS,NaN,36.8,36.8,36.8,36.8,36.8,36.8,36.8,...,28.4,28.5,28.6,28.8,28.8,28.8,28.8,28.8,29.4,30.3
14,Vatican City,VAT,NaN,40.0,40.0,40.0,40.0,40.0,40.0,40.0,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
17,Saint Vincent and the Grenadines,VCT,NaN,43.2,43.2,43.2,43.2,43.2,43.2,43.2,...,38.3,38.2,38.2,38.2,38.2,38.1,38.1,38.1,38.1,38.1

In [115]:
countries_name_temp.rename(columns = {'country_x' : 'country'}, inplace=True)
countries_name_temp.sort_values(by='country_code')

,country,country_code,continent,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Burkina,BFA,NaN,37.6,37.6,37.6,37.6,37.6,37.6,37.6,...,37.0,36.1,35.3,35.1,35.1,35.1,35.1,35.1,35.8,36.6
3,Ivory Coast,CIV,NaN,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,42.2,42.0,41.7,41.5,41.5,41.5,41.5,41.5,42.2,43.0
2,"Congo, Democratic Republic of",COD,NaN,40.4,40.4,40.4,40.4,40.4,40.4,40.4,...,42.1,42.1,42.1,42.1,42.1,42.1,42.1,42.1,43.3,44.7
1,Congo,COG,NaN,56.6,56.6,56.6,56.6,56.6,56.6,56.6,...,48.9,48.9,48.9,48.9,48.9,48.9,48.9,48.9,49.7,50.7
18,Micronesia,FSM,NaN,46.1,46.1,46.1,46.1,46.1,46.1,46.1,...,40.3,40.1,40.7,40.6,40.6,40.6,40.6,40.6,40.6,40.6
9,Kyrgyzstan,KGZ,NaN,46.0,46.0,46.0,46.0,46.0,46.0,46.0,...,27.4,28.8,26.8,29.0,26.8,27.3,27.7,29.7,30.3,31.0
15,Saint Kitts and Nevis,KNA,NaN,42.6,42.6,42.6,42.6,42.6,42.6,42.6,...,36.9,36.8,36.7,36.7,36.7,36.7,36.7,36.6,36.6,36.6
8,"Korea, South",KOR,NaN,32.1,32.1,32.1,32.1,32.1,32.1,32.1,...,31.6,31.4,31.2,31.3,31.4,31.4,31.4,31.4,31.4,32.1
10,Laos,LAO,NaN,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,36.0,36.4,36.9,37.4,37.8,38.3,38.8,38.8,38.8,38.8
16,Saint Lucia,LCA,NaN,42.6,42.6,42.6,42.6,42.6,42.6,42.6,...,49.5,49.9,50.3,50.8,51.2,51.2,51.2,51.2,51.2,51.2
12,Macedonia,MKD,NaN,31.1,31.1,31.1,31.1,31.1,31.1,31.1,...,38.1,36.2,35.2,35.6,34.5,34.2,33.0,33.0,33.6,34.3
5,Burma (Myanmar),MMR,NaN,26.2,26.2,26.2,26.2,26.2,26.2,26.2,...,38.1,38.1,38.1,38.1,34.2,30.7,30.7,30.7,31.3,32.1
7,"Korea, North",PRK,NaN,45.6,45.6,45.6,45.6,45.6,45.6,45.6,...,41.7,41.7,41.7,41.7,41.7,41.8,41.9,42.0,42.0,42.0
11,Russian Federation,RUS,NaN,52.8,52.8,52.8,52.8,52.8,52.8,52.8,...,40.7,40.9,39.9,37.7,36.9,37.2,37.5,37.5,38.3,39.7
13,Slovakia,SVK,NaN,29.9,29.9,29.9,29.9,29.9,29.9,29.9,...,26.1,28.1,26.1,26.5,25.2,25.1,25.0,25.0,25.6,26.4
4,Swaziland,SWZ,NaN,61.3,61.3,61.3,61.3,61.3,61.3,61.3,...,52.8,53.2,53.7,54.1,54.6,54.6,54.6,54.6,55.3,56.1
6,East Timor,TLS,NaN,36.8,36.8,36.8,36.8,36.8,36.8,36.8,...,28.4,28.5,28.6,28.8,28.8,28.8,28.8,28.8,29.4,30.3
14,Vatican City,VAT,NaN,40.0,40.0,40.0,40.0,40.0,40.0,40.0,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
17,Saint Vincent and the Grenadines,VCT,NaN,43.2,43.2,43.2,43.2,43.2,43.2,43.2,...,38.3,38.2,38.2,38.2,38.2,38.1,38.1,38.1,38.1,38.1

In [116]:
income_ineq = pd.concat([extra_income_ineq,

SyntaxError: incomplete input (568348416.py, line 1)

In [117]:
#  dropping the old rows with old country names : 

extra_income_ineq.dropna(subset=['continent'], inplace=True)

In [118]:
income_ineq = pd.concat([extra_income_ineq,

SyntaxError: incomplete input (568348416.py, line 1)

In [119]:
income_ineq[income_ineq['country'] == 'Burkina']

NameError: name 'income_ineq' is not defined

In [120]:
income_ineq = income_ineq.dropna(subset=['2010'])
income_ineq

NameError: name 'income_ineq' is not defined

In [121]:
income_ineq.drop('continent',axis=1, inplace=True)

NameError: name 'income_ineq' is not defined

In [122]:
income_ineq.shape

NameError: name 'income_ineq' is not defined

In [123]:
#Checking for average daily income the name of countries 

average_daily_income[average_daily_income['country'] == 'Burkina Faso']

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
14,Burkina Faso,695.0,695.0,695.0,695.0,695.0,695.0,695.0,695.0,695.0,...,2.69,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15

In [124]:
#income inequality, what extra countries, extra rows compares to the base countries
extra_income_avg = pd.merge(countries, average_daily_income, on='country', how='outer')
extra_income_avg

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
2,Africa,Algeria,DZA,716.00,716.00,716.00,716.00,716.00,716.00,716.00,...,8.53,8.78,8.98,9.14,9.25,9.23,9.30,9.31,8.60,8.69
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,South America,Venezuela,VEN,1.05,1.05,1.04,1.04,1.03,1.03,1.02,...,13.20,13.60,13.10,12.10,9.78,8.28,6.89,4.65,3.24,2.95
211,Asia,Vietnam,VNM,1.16,1.16,1.16,1.16,1.16,1.16,1.16,...,8.04,8.25,8.51,9.24,9.83,10.40,10.90,11.60,11.90,12.50
212,Asia,Yemen,YEM,1.22,1.23,1.23,1.23,1.24,1.24,1.24,...,4.23,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14
213,Africa,Zambia,ZMB,1.26,1.26,1.27,1.27,1.27,1.27,1.28,...,2.78,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68
214,Africa,Zimbabwe,ZWE,1.94,1.94,1.94,1.94,1.95,1.95,1.95,...,5.34,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70

In [125]:
extra_income_avg['country_code'] = extra_income_avg['country_code'].fillna(extra_income_avg['country'].map(dict_country_code_2))
extra_income_avg['country'] = extra_income_avg['country'].replace(rename_dict)
extra_income_avg.head(50)

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
2,Africa,Algeria,DZA,716.00,716.00,716.00,716.00,716.00,716.00,716.00,...,8.53,8.78,8.98,9.14,9.25,9.23,9.30,9.31,8.60,8.69
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
5,North America,Antigua and Barbuda,ATG,883.00,883.00,883.00,883.00,883.00,883.00,883.00,...,18.70,18.40,18.90,19.40,20.30,20.70,22.00,22.90,18.60,17.80
6,South America,Argentina,ARG,2.40,2.41,2.42,2.43,2.44,2.45,2.46,...,20.50,20.60,19.30,20.20,20.20,21.20,19.10,18.70,16.60,17.40
7,Europe,Armenia,ARM,795.00,795.00,795.00,795.00,795.00,795.00,795.00,...,6.68,6.93,7.11,7.62,8.03,7.81,7.81,6.99,6.46,6.53
8,Australia and Oceania,Australia,AUS,1.19,1.20,1.20,1.21,1.22,1.23,1.23,...,58.50,58.50,59.20,59.80,60.50,60.80,61.60,61.70,59.80,62.40
9,Europe,Austria,AUT,2.77,2.78,2.79,2.81,2.82,2.83,2.84,...,54.20,56.90,56.00,55.80,58.30,57.60,58.20,58.40,54.30,55.90
10,Europe,Azerbaijan,AZE,1.62,1.62,1.62,1.62,1.62,1.62,1.62,...,19.00,21.70,22.00,22.00,21.10,20.90,21.10,21.30,20.20,20.40
11,North America,Bahamas,BHS,1.53,1.53,1.53,1.54,1.54,1.54,1.54,...,35.10,33.80,33.90,33.60,33.80,34.50,35.20,35.20,29.20,29.40
12,Asia,Bahrain,BHR,1.59,1.60,1.60,1.61,1.62,1.63,1.63,...,51.90,54.10,55.50,55.40,55.20,55.00,53.20,51.80,48.10,48.70
13,Asia,Bangladesh,BGD,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,3.72,3.78,3.83,3.91,3.94,4.19,4.60,4.73,4.66,5.01
14,North America,Barbados,BRB,1.12,1.12,1.12,1.12,1.12,1.12,1.12,...,16.80,16.60,16.50,16.90,17.30,17.30,17.20,17.20,14.10,14.60
15,Europe,Belarus,BLR,564.00,564.00,564.00,565.00,565.00,565.00,566.00,...,18.40,20.50,21.30,19.10,18.30,18.80,20.40,21.50,21.50,21.50
16,Europe,Belgium,BEL,2.71,2.71,2.71,2.72,2.72,2.73,2.73,...,48.70,48.60,49.20,49.80,49.20,49.80,50.90,51.40,47.80,49.60
17,North America,Belize,BLZ,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,9.22,9.46,9.32,9.56,9.87,9.26,8.82,8.67,7.27,7.25
18,Africa,Benin,BEN,0.72,0.72,0.72,0.72,0.72,0.72,0.72,...,2.74,2.75,2.84,2.75,2.76,2.84,2.95,3.07,3.04,3.11
19,Asia,Bhutan,BTN,735.00,735.00,736.00,736.00,736.00,736.00,736.00,...,8.15,8.79,8.70,11.00,8.79,8.86,10.00,10.50,10.40,10.10
20,South America,Bolivia,BOL,1.32,1.32,1.32,1.32,1.32,1.32,1.32,...,13.10,14.50,14.50,14.00,13.30,13.50,13.30,13.90,12.60,13.10
21,Europe,Bosnia and Herzegovina,BIH,0.86,0.86,0.86,0.86,0.86,0.86,0.86,...,20.00,20.40,21.10,21.80,22.50,23.00,23.70,24.50,23.30,24.30
22,Africa,Botswana,BWA,327.00,327.00,327.00,327.00,327.00,328.00,328.00,...,9.67,9.95,9.51,8.51,8.11,8.17,8.35,8.41,7.56,7.96
23,South America,Brazil,BRA,833.00,833.00,833.00,833.00,833.00,833.00,833.00,...,19.80,20.60,21.20,20.50,20.60,20.50,21.30,21.30,20.30,21.00
24,Asia,Brunei,BRN,1.87,1.87,1.87,1.88,1.88,1.88,1.88,...,76.60,73.90,71.10,70.00,67.50,67.60,66.90,68.80,69.50,70.50
25,Europe,Bulgaria,BGR,1.74,1.75,1.75,1.75,1.75,1.75,1.75,...,15.40,17.20,18.30,17.50,20.90,20.80,24.10,25.60,24.70,26.00
26,Africa,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Burkina,BFA,695.00,695.00,695.00,695.00,695.00,695.00,695.00,...,2.69,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15
28,Asia,Burma (Myanmar),MMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Africa,Burundi,BDI,543.00,543.00,544.00,544.00,546.00,546.00,546.00,...,1.72,1.76,1.79,1.67,1.60,1.56,1.54,1.52,1.45,1.45
30,Asia,Cambodia,KHM,477.00,477.00,477.00,477.00,477.00,477.00,477.00,...,3.35,3.54,3.73,3.93,4.14,4.36,4.62,4.87,4.68,4.82
31,Africa,Cameroon,CMR,693.00,693.00,693.00,693.00,693.00,694.00,694.00,...,4.39,4.72,5.12,5.26,5.36,5.41,5.48,5.54,5.25,5.30
32,North America,Canada,CAN,2.07,2.08,2.09,2.11,2.12,2.13,2.15,...,57.80,58.90,59.10,59.60,59.10,61.20,61.70,61.80,57.80,60.20
33,Africa,Cape Verde,CPV,963.00,963.00,963.00,963.00,966.00,966.00,966.00,...,8.96,9.05,9.13,9.24,9.56,9.79,10.10,10.60,8.98,9.39
34,Africa,Central African Republic,CAF,503.00,503.00,503.00,503.00,503.00,503.00,503.00,...,2.97,1.88,1.88,1.95,2.02,2.08,2.13,2.16,2.12,2.15
35,Africa,Chad,TCD,1.01,1.01,1.01,1.01,1.01,1.01,1.01,...,3.46,3.53,3.66,3.64,3.31,3.11,3.09,3.09,2.98,2.94
36,South America,Chile,CHL,1.24,1.24,1.24,1.24,1.24,1.24,1.24,...,20.60,22.20,22.90,23.30,24.30,25.80,26.40,26.40,24.40,25.60
37,Asia,China,CHN,931.00,928.00,926.00,924.00,921.00,919.00,916.00,...,8.53,9.60,10.30,11.10,11.80,12.90,14.00,14.90,15.20,16.50
38,South America,Colombia,COL,1.32,1.32,1.31,1.30,1.30,1.29,1.28,...,13.50,14.20,14.80,14.50,14.30,14.20,14.40,14.50,13.40,13.90
39,Africa,Comoros,COM,2.65,2.65,2.65,2.65,2.66,2.67,2.67,...,6.10,5.97,5.70,5.63,5.68,5.76,5.83,5.82,5.63,5.49
40,Africa,Congo,COG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,"Congo, Democratic Republic of",COD,534.00,536.00,539.00,541.00,543.00,545.00,547.00,...,1.44,1.57,1.66,1.72,1.70,1.71,1.75,1.77,1.71,1.72
42,Africa,"Congo, Democratic Republic of",COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,Congo,COG,389.00,389.00,0.39,392.00,393.00,394.00,395.00,...,3.96,3.84,3.97,3.74,3.28,3.05,2.79,2.62,2.36,2.30
44,North America,Costa Rica,CRI,503.00,503.00,503.00,503.00,503.00,505.00,505.00,...,22.10,22.80,22.90,22.90,23.70,24.10,23.60,23.50,22.10,22.40
45,NaN,Ivory Coast,CIV,1.87,1.87,1.87,1.87,1.87,1.87,1.87,...,3.47,3.57,3.67,3.77,3.94,4.13,4.30,4.45,4.44,4.58
46,Europe,Croatia,HRV,1.30,1.31,1.33,1.34,1.35,1.36,1.37,...,18.00,17.80,18.80,19.60,21.10,22.20,23.90,24.90,22.70,24.00
47,North America,Cuba,CUB,988.00,997.00,1.00,1.01,1.02,1.03,1.04,...,11.40,11.80,12.20,12.60,12.80,13.00,13.30,13.60,13.80,14.10
48,Europe,Cyprus,CYP,911.00,911.00,911.00,911.00,911.00,911.00,911.00,...,45.30,43.40,40.50,41.20,42.60,43.50,46.80,47.60,44.70,45.50
49,Europe,Czech Republic,CZE,1.84,1.84,1.84,1.84,1.84,1.84,1.84,...,27.50,27.70,28.40,29.50,30.60,31.70,33.10,34.00,32.00,33.30

In [126]:
extra_income_avg['nan_count'] = extra_income_avg.isnull().sum(axis=1)
extra_income_avg = extra_income_avg.sort_values(by=['country_code', 'nan_count'])
extra_income_avg

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,nan_count
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66,0
4,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72,0
1,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50,0
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60,0
203,Asia,United Arab Emirates,ARE,2.90,2.91,2.92,2.93,2.94,2.95,2.96,...,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Australia and Oceania,Samoa,WSM,2.76,2.76,2.76,2.76,2.76,2.76,2.76,...,9.50,9.44,9.78,10.50,10.60,10.30,10.60,10.20,9.33,0
212,Asia,Yemen,YEM,1.22,1.23,1.23,1.23,1.24,1.24,1.24,...,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14,0
175,Africa,South Africa,ZAF,1.34,1.32,1.31,1.29,1.28,1.21,1.21,...,11.80,11.60,11.30,11.20,11.20,11.10,11.00,10.10,10.30,0
213,Africa,Zambia,ZMB,1.26,1.26,1.27,1.27,1.27,1.27,1.28,...,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68,0
214,Africa,Zimbabwe,ZWE,1.94,1.94,1.94,1.94,1.95,1.95,1.95,...,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70,0

In [127]:
extra_income_avg = extra_income_avg.drop_duplicates(subset='country_code', keep='first')
extra_income_avg.head(20)

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,nan_count
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66,0
4,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72,0
1,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50,0
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60,0
203,Asia,United Arab Emirates,ARE,2.90,2.91,2.92,2.93,2.94,2.95,2.96,...,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80,0
6,South America,Argentina,ARG,2.40,2.41,2.42,2.43,2.44,2.45,2.46,...,20.60,19.30,20.20,20.20,21.20,19.10,18.70,16.60,17.40,0
7,Europe,Armenia,ARM,795.00,795.00,795.00,795.00,795.00,795.00,795.00,...,6.93,7.11,7.62,8.03,7.81,7.81,6.99,6.46,6.53,0
5,North America,Antigua and Barbuda,ATG,883.00,883.00,883.00,883.00,883.00,883.00,883.00,...,18.40,18.90,19.40,20.30,20.70,22.00,22.90,18.60,17.80,0
8,Australia and Oceania,Australia,AUS,1.19,1.20,1.20,1.21,1.22,1.23,1.23,...,58.50,59.20,59.80,60.50,60.80,61.60,61.70,59.80,62.40,0
9,Europe,Austria,AUT,2.77,2.78,2.79,2.81,2.82,2.83,2.84,...,56.90,56.00,55.80,58.30,57.60,58.20,58.40,54.30,55.90,0
10,Europe,Azerbaijan,AZE,1.62,1.62,1.62,1.62,1.62,1.62,1.62,...,21.70,22.00,22.00,21.10,20.90,21.10,21.30,20.20,20.40,0
29,Africa,Burundi,BDI,543.00,543.00,544.00,544.00,546.00,546.00,546.00,...,1.76,1.79,1.67,1.60,1.56,1.54,1.52,1.45,1.45,0
16,Europe,Belgium,BEL,2.71,2.71,2.71,2.72,2.72,2.73,2.73,...,48.60,49.20,49.80,49.20,49.80,50.90,51.40,47.80,49.60,0
18,Africa,Benin,BEN,0.72,0.72,0.72,0.72,0.72,0.72,0.72,...,2.75,2.84,2.75,2.76,2.84,2.95,3.07,3.04,3.11,0
27,NaN,Burkina,BFA,695.00,695.00,695.00,695.00,695.00,695.00,695.00,...,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15,1
13,Asia,Bangladesh,BGD,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,3.78,3.83,3.91,3.94,4.19,4.60,4.73,4.66,5.01,0
25,Europe,Bulgaria,BGR,1.74,1.75,1.75,1.75,1.75,1.75,1.75,...,17.20,18.30,17.50,20.90,20.80,24.10,25.60,24.70,26.00,0
12,Asia,Bahrain,BHR,1.59,1.60,1.60,1.61,1.62,1.63,1.63,...,54.10,55.50,55.40,55.20,55.00,53.20,51.80,48.10,48.70,0
11,North America,Bahamas,BHS,1.53,1.53,1.53,1.54,1.54,1.54,1.54,...,33.80,33.90,33.60,33.80,34.50,35.20,35.20,29.20,29.40,0
21,Europe,Bosnia and Herzegovina,BIH,0.86,0.86,0.86,0.86,0.86,0.86,0.86,...,20.40,21.10,21.80,22.50,23.00,23.70,24.50,23.30,24.30,0

In [128]:
extra_income_avg.drop('nan_count', axis=1, inplace=True)
extra_income_avg.to_csv('./data/income_avg_full.csv', index=False)

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/3670544026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extra_income_avg.drop('nan_count', axis=1, inplace=True)

In [129]:
dif_country_name_2 = extra_income_avg[extra_income_avg['continent'].isnull()]
dif_country_name_2.sort_values(by='country_code')

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
27,NaN,Burkina,BFA,695.00,695.00,695.00,695.00,695.00,695.00,695.00,...,2.69,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15
45,NaN,Ivory Coast,CIV,1.87,1.87,1.87,1.87,1.87,1.87,1.87,...,3.47,3.57,3.67,3.77,3.94,4.13,4.30,4.45,4.44,4.58
41,NaN,"Congo, Democratic Republic of",COD,534.00,536.00,539.00,541.00,543.00,545.00,547.00,...,1.44,1.57,1.66,1.72,1.70,1.71,1.75,1.77,1.71,1.72
43,NaN,Congo,COG,389.00,389.00,0.39,392.00,393.00,394.00,395.00,...,3.96,3.84,3.97,3.74,3.28,3.05,2.79,2.62,2.36,2.30
123,NaN,"Micronesia, Fed. Sts.",FSM,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,5.70,5.16,4.97,5.13,5.12,5.19,5.15,5.21,5.11,4.92
79,NaN,"Hong Kong, China",HKG,1.26,1.27,1.28,1.29,1.30,1.31,1.32,...,59.90,61.50,62.80,63.70,64.70,66.70,68.00,66.70,63.00,65.30
99,NaN,Kyrgyzstan,KGZ,757.00,757.00,757.00,757.00,757.00,757.00,759.00,...,5.58,5.50,5.75,5.66,5.77,5.81,6.21,6.58,5.93,6.16
180,NaN,St. Kitts and Nevis,KNA,918.00,0.92,0.92,0.92,0.92,0.92,0.92,...,16.40,17.10,18.00,18.00,18.40,17.90,18.30,18.70,15.00,14.60
176,NaN,"Korea, South",KOR,1.34,1.34,1.34,1.34,1.34,1.34,1.34,...,39.80,40.70,41.70,42.50,43.50,44.60,45.80,46.40,45.90,47.50
101,NaN,Laos,LAO,1.67,1.67,1.67,1.67,1.67,1.67,1.67,...,4.39,4.53,4.68,4.83,4.98,5.14,5.28,5.42,5.32,5.49
181,NaN,St. Lucia,LCA,318.00,318.00,318.00,318.00,318.00,318.00,318.00,...,16.50,16.20,17.60,15.70,19.30,19.90,20.30,20.50,16.60,17.00
140,NaN,Macedonia,MKD,637.00,637.00,637.00,637.00,637.00,638.00,638.00,...,9.69,9.69,10.30,10.80,11.40,11.90,12.20,12.60,12.00,12.50
130,NaN,Burma (Myanmar),MMR,976.00,976.00,976.00,976.00,976.00,976.00,976.00,...,5.09,5.47,5.86,6.22,6.29,6.38,6.77,6.92,7.09,6.42
139,NaN,North Korea,PRK,411.00,411.00,411.00,411.00,0.41,0.41,0.41,...,3.00,3.02,3.03,2.99,2.95,2.84,2.70,2.63,2.55,2.45
145,NaN,Palestine,PSE,1.98,1.98,1.98,1.98,1.98,1.99,1.99,...,11.90,11.20,11.00,10.90,11.40,10.90,10.80,10.90,9.51,9.81
155,NaN,Russia,RUS,1.43,1.43,1.43,1.43,1.43,1.44,1.44,...,22.20,22.70,22.30,20.40,19.90,19.90,20.20,20.70,20.10,20.90
170,NaN,Slovakia,SVK,2.11,2.11,2.11,2.11,2.11,2.11,2.11,...,22.60,23.20,22.60,23.10,23.40,24.40,25.50,26.00,24.60,25.70
61,NaN,Eswatini,SWZ,135.00,135.00,135.00,135.00,135.00,135.00,135.00,...,5.05,5.52,5.54,5.75,5.78,5.86,5.94,6.01,5.75,5.77
193,NaN,Timor-Leste,TLS,665.00,668.00,669.00,0.67,671.00,672.00,673.00,...,2.86,3.01,3.19,3.09,3.17,3.20,3.19,3.24,2.93,2.65
189,NaN,Taiwan,TWN,1.81,1.81,1.81,1.81,1.81,1.81,1.81,...,42.10,42.30,44.10,44.60,45.40,46.90,48.10,49.40,50.90,53.30
182,NaN,St. Vincent and the Grenadines,VCT,1.08,1.08,1.08,1.08,1.08,1.08,1.08,...,13.30,13.50,13.60,13.80,14.00,14.10,14.30,14.40,13.70,13.70

In [130]:
dif_country_name_2['country']

27                            Burkina
45                        Ivory Coast
41      Congo, Democratic Republic of
43                              Congo
123             Micronesia, Fed. Sts.
79                   Hong Kong, China
99                         Kyrgyzstan
180               St. Kitts and Nevis
176                      Korea, South
101                              Laos
181                         St. Lucia
140                         Macedonia
130                   Burma (Myanmar)
139                       North Korea
145                         Palestine
155                            Russia
170                          Slovakia
61                           Eswatini
193                       Timor-Leste
189                            Taiwan
182    St. Vincent and the Grenadines
Name: country, dtype: object

In [131]:
dict_country_code_3 = {
    "Burkina Faso": "BFA",
    "Congo, Dem. Rep.": "COD",
    "Congo, Rep.": "COG",
    "Cote d'Ivoire": "CIV",
    "Eswatini": "SWZ",
    "Hong Kong, China": "HKG",
    "Kyrgyz Republic": "KGZ",
    "Lao": "LAO",
    "Micronesia, Fed. Sts.": "FSM",
    "Myanmar": "MMR",
    "North Korea": "PRK",
    "North Macedonia": "MKD",
    "Palestine": "PSE",
    "Russia": "RUS",
    "Slovak Republic": "SVK",
    "South Korea": "KOR",
    "St. Kitts and Nevis": "KNA",
    "St. Lucia": "LCA",
    "St. Vincent and the Grenadines": "VCT",
    "Taiwan": "TWN",
    "Timor-Leste": "TLS"
}


dif_country_name_2['country_code'] = dif_country_name_2['country_code'].fillna(dif_country_name_2['country'].map(dict_country_code_3))

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/568132176.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dif_country_name_2['country_code'] = dif_country_name_2['country_code'].fillna(dif_country_name_2['country'].map(dict_country_code_3))

In [132]:
dif_country_name_2.sort_values(by='country_code')

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
27,NaN,Burkina,BFA,695.00,695.00,695.00,695.00,695.00,695.00,695.00,...,2.69,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15
45,NaN,Ivory Coast,CIV,1.87,1.87,1.87,1.87,1.87,1.87,1.87,...,3.47,3.57,3.67,3.77,3.94,4.13,4.30,4.45,4.44,4.58
41,NaN,"Congo, Democratic Republic of",COD,534.00,536.00,539.00,541.00,543.00,545.00,547.00,...,1.44,1.57,1.66,1.72,1.70,1.71,1.75,1.77,1.71,1.72
43,NaN,Congo,COG,389.00,389.00,0.39,392.00,393.00,394.00,395.00,...,3.96,3.84,3.97,3.74,3.28,3.05,2.79,2.62,2.36,2.30
123,NaN,"Micronesia, Fed. Sts.",FSM,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,5.70,5.16,4.97,5.13,5.12,5.19,5.15,5.21,5.11,4.92
79,NaN,"Hong Kong, China",HKG,1.26,1.27,1.28,1.29,1.30,1.31,1.32,...,59.90,61.50,62.80,63.70,64.70,66.70,68.00,66.70,63.00,65.30
99,NaN,Kyrgyzstan,KGZ,757.00,757.00,757.00,757.00,757.00,757.00,759.00,...,5.58,5.50,5.75,5.66,5.77,5.81,6.21,6.58,5.93,6.16
180,NaN,St. Kitts and Nevis,KNA,918.00,0.92,0.92,0.92,0.92,0.92,0.92,...,16.40,17.10,18.00,18.00,18.40,17.90,18.30,18.70,15.00,14.60
176,NaN,"Korea, South",KOR,1.34,1.34,1.34,1.34,1.34,1.34,1.34,...,39.80,40.70,41.70,42.50,43.50,44.60,45.80,46.40,45.90,47.50
101,NaN,Laos,LAO,1.67,1.67,1.67,1.67,1.67,1.67,1.67,...,4.39,4.53,4.68,4.83,4.98,5.14,5.28,5.42,5.32,5.49
181,NaN,St. Lucia,LCA,318.00,318.00,318.00,318.00,318.00,318.00,318.00,...,16.50,16.20,17.60,15.70,19.30,19.90,20.30,20.50,16.60,17.00
140,NaN,Macedonia,MKD,637.00,637.00,637.00,637.00,637.00,638.00,638.00,...,9.69,9.69,10.30,10.80,11.40,11.90,12.20,12.60,12.00,12.50
130,NaN,Burma (Myanmar),MMR,976.00,976.00,976.00,976.00,976.00,976.00,976.00,...,5.09,5.47,5.86,6.22,6.29,6.38,6.77,6.92,7.09,6.42
139,NaN,North Korea,PRK,411.00,411.00,411.00,411.00,0.41,0.41,0.41,...,3.00,3.02,3.03,2.99,2.95,2.84,2.70,2.63,2.55,2.45
145,NaN,Palestine,PSE,1.98,1.98,1.98,1.98,1.98,1.99,1.99,...,11.90,11.20,11.00,10.90,11.40,10.90,10.80,10.90,9.51,9.81
155,NaN,Russia,RUS,1.43,1.43,1.43,1.43,1.43,1.44,1.44,...,22.20,22.70,22.30,20.40,19.90,19.90,20.20,20.70,20.10,20.90
170,NaN,Slovakia,SVK,2.11,2.11,2.11,2.11,2.11,2.11,2.11,...,22.60,23.20,22.60,23.10,23.40,24.40,25.50,26.00,24.60,25.70
61,NaN,Eswatini,SWZ,135.00,135.00,135.00,135.00,135.00,135.00,135.00,...,5.05,5.52,5.54,5.75,5.78,5.86,5.94,6.01,5.75,5.77
193,NaN,Timor-Leste,TLS,665.00,668.00,669.00,0.67,671.00,672.00,673.00,...,2.86,3.01,3.19,3.09,3.17,3.20,3.19,3.24,2.93,2.65
189,NaN,Taiwan,TWN,1.81,1.81,1.81,1.81,1.81,1.81,1.81,...,42.10,42.30,44.10,44.60,45.40,46.90,48.10,49.40,50.90,53.30
182,NaN,St. Vincent and the Grenadines,VCT,1.08,1.08,1.08,1.08,1.08,1.08,1.08,...,13.30,13.50,13.60,13.80,14.00,14.10,14.30,14.40,13.70,13.70

In [133]:
countries_name_temp_2 = pd.merge(countries[['country', 'country_code']], dif_country_name_2, on='country_code', how='inner')
countries_name_temp_2.sort_values(by='country_code')

,country_x,country_code,continent,country_y,1800,1801,1802,1803,1804,1805,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Burkina,BFA,NaN,Burkina,695.00,695.00,695.00,695.00,695.00,695.00,...,2.69,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15
3,Ivory Coast,CIV,NaN,Ivory Coast,1.87,1.87,1.87,1.87,1.87,1.87,...,3.47,3.57,3.67,3.77,3.94,4.13,4.30,4.45,4.44,4.58
2,"Congo, Democratic Republic of",COD,NaN,"Congo, Democratic Republic of",534.00,536.00,539.00,541.00,543.00,545.00,...,1.44,1.57,1.66,1.72,1.70,1.71,1.75,1.77,1.71,1.72
1,Congo,COG,NaN,Congo,389.00,389.00,0.39,392.00,393.00,394.00,...,3.96,3.84,3.97,3.74,3.28,3.05,2.79,2.62,2.36,2.30
17,Micronesia,FSM,NaN,"Micronesia, Fed. Sts.",1.22,1.22,1.22,1.22,1.22,1.22,...,5.70,5.16,4.97,5.13,5.12,5.19,5.15,5.21,5.11,4.92
9,Kyrgyzstan,KGZ,NaN,Kyrgyzstan,757.00,757.00,757.00,757.00,757.00,757.00,...,5.58,5.50,5.75,5.66,5.77,5.81,6.21,6.58,5.93,6.16
14,Saint Kitts and Nevis,KNA,NaN,St. Kitts and Nevis,918.00,0.92,0.92,0.92,0.92,0.92,...,16.40,17.10,18.00,18.00,18.40,17.90,18.30,18.70,15.00,14.60
8,"Korea, South",KOR,NaN,"Korea, South",1.34,1.34,1.34,1.34,1.34,1.34,...,39.80,40.70,41.70,42.50,43.50,44.60,45.80,46.40,45.90,47.50
10,Laos,LAO,NaN,Laos,1.67,1.67,1.67,1.67,1.67,1.67,...,4.39,4.53,4.68,4.83,4.98,5.14,5.28,5.42,5.32,5.49
15,Saint Lucia,LCA,NaN,St. Lucia,318.00,318.00,318.00,318.00,318.00,318.00,...,16.50,16.20,17.60,15.70,19.30,19.90,20.30,20.50,16.60,17.00
12,Macedonia,MKD,NaN,Macedonia,637.00,637.00,637.00,637.00,637.00,638.00,...,9.69,9.69,10.30,10.80,11.40,11.90,12.20,12.60,12.00,12.50
5,Burma (Myanmar),MMR,NaN,Burma (Myanmar),976.00,976.00,976.00,976.00,976.00,976.00,...,5.09,5.47,5.86,6.22,6.29,6.38,6.77,6.92,7.09,6.42
7,"Korea, North",PRK,NaN,North Korea,411.00,411.00,411.00,411.00,0.41,0.41,...,3.00,3.02,3.03,2.99,2.95,2.84,2.70,2.63,2.55,2.45
11,Russian Federation,RUS,NaN,Russia,1.43,1.43,1.43,1.43,1.43,1.44,...,22.20,22.70,22.30,20.40,19.90,19.90,20.20,20.70,20.10,20.90
13,Slovakia,SVK,NaN,Slovakia,2.11,2.11,2.11,2.11,2.11,2.11,...,22.60,23.20,22.60,23.10,23.40,24.40,25.50,26.00,24.60,25.70
4,Swaziland,SWZ,NaN,Eswatini,135.00,135.00,135.00,135.00,135.00,135.00,...,5.05,5.52,5.54,5.75,5.78,5.86,5.94,6.01,5.75,5.77
6,East Timor,TLS,NaN,Timor-Leste,665.00,668.00,669.00,0.67,671.00,672.00,...,2.86,3.01,3.19,3.09,3.17,3.20,3.19,3.24,2.93,2.65
16,Saint Vincent and the Grenadines,VCT,NaN,St. Vincent and the Grenadines,1.08,1.08,1.08,1.08,1.08,1.08,...,13.30,13.50,13.60,13.80,14.00,14.10,14.30,14.40,13.70,13.70

In [134]:
countries_name_temp_2.drop('country_y', inplace=True, axis=1)

In [135]:
countries_name_temp_2.rename(columns = {'country_x' : 'country'}, inplace=True)
countries_name_temp_2

,country,country_code,continent,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Burkina,BFA,NaN,695.00,695.00,695.00,695.00,695.00,695.00,695.00,...,2.69,2.75,2.78,2.81,2.89,2.98,3.09,3.18,3.11,3.15
1,Congo,COG,NaN,389.00,389.00,0.39,392.00,393.00,394.00,395.00,...,3.96,3.84,3.97,3.74,3.28,3.05,2.79,2.62,2.36,2.30
2,"Congo, Democratic Republic of",COD,NaN,534.00,536.00,539.00,541.00,543.00,545.00,547.00,...,1.44,1.57,1.66,1.72,1.70,1.71,1.75,1.77,1.71,1.72
3,Ivory Coast,CIV,NaN,1.87,1.87,1.87,1.87,1.87,1.87,1.87,...,3.47,3.57,3.67,3.77,3.94,4.13,4.30,4.45,4.44,4.58
4,Swaziland,SWZ,NaN,135.00,135.00,135.00,135.00,135.00,135.00,135.00,...,5.05,5.52,5.54,5.75,5.78,5.86,5.94,6.01,5.75,5.77
5,Burma (Myanmar),MMR,NaN,976.00,976.00,976.00,976.00,976.00,976.00,976.00,...,5.09,5.47,5.86,6.22,6.29,6.38,6.77,6.92,7.09,6.42
6,East Timor,TLS,NaN,665.00,668.00,669.00,0.67,671.00,672.00,673.00,...,2.86,3.01,3.19,3.09,3.17,3.20,3.19,3.24,2.93,2.65
7,"Korea, North",PRK,NaN,411.00,411.00,411.00,411.00,0.41,0.41,0.41,...,3.00,3.02,3.03,2.99,2.95,2.84,2.70,2.63,2.55,2.45
8,"Korea, South",KOR,NaN,1.34,1.34,1.34,1.34,1.34,1.34,1.34,...,39.80,40.70,41.70,42.50,43.50,44.60,45.80,46.40,45.90,47.50
9,Kyrgyzstan,KGZ,NaN,757.00,757.00,757.00,757.00,757.00,757.00,759.00,...,5.58,5.50,5.75,5.66,5.77,5.81,6.21,6.58,5.93,6.16
10,Laos,LAO,NaN,1.67,1.67,1.67,1.67,1.67,1.67,1.67,...,4.39,4.53,4.68,4.83,4.98,5.14,5.28,5.42,5.32,5.49
11,Russian Federation,RUS,NaN,1.43,1.43,1.43,1.43,1.43,1.44,1.44,...,22.20,22.70,22.30,20.40,19.90,19.90,20.20,20.70,20.10,20.90
12,Macedonia,MKD,NaN,637.00,637.00,637.00,637.00,637.00,638.00,638.00,...,9.69,9.69,10.30,10.80,11.40,11.90,12.20,12.60,12.00,12.50
13,Slovakia,SVK,NaN,2.11,2.11,2.11,2.11,2.11,2.11,2.11,...,22.60,23.20,22.60,23.10,23.40,24.40,25.50,26.00,24.60,25.70
14,Saint Kitts and Nevis,KNA,NaN,918.00,0.92,0.92,0.92,0.92,0.92,0.92,...,16.40,17.10,18.00,18.00,18.40,17.90,18.30,18.70,15.00,14.60
15,Saint Lucia,LCA,NaN,318.00,318.00,318.00,318.00,318.00,318.00,318.00,...,16.50,16.20,17.60,15.70,19.30,19.90,20.30,20.50,16.60,17.00
16,Saint Vincent and the Grenadines,VCT,NaN,1.08,1.08,1.08,1.08,1.08,1.08,1.08,...,13.30,13.50,13.60,13.80,14.00,14.10,14.30,14.40,13.70,13.70
17,Micronesia,FSM,NaN,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,5.70,5.16,4.97,5.13,5.12,5.19,5.15,5.21,5.11,4.92

In [136]:
extra_income_avg.dropna(subset=['continent'], inplace=True)

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/2619275949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extra_income_avg.dropna(subset=['continent'], inplace=True)

In [137]:
extra_income_avg

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
4,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
1,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
203,Asia,United Arab Emirates,ARE,2.90,2.91,2.92,2.93,2.94,2.95,2.96,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Australia and Oceania,Samoa,WSM,2.76,2.76,2.76,2.76,2.76,2.76,2.76,...,9.58,9.50,9.44,9.78,10.50,10.60,10.30,10.60,10.20,9.33
212,Asia,Yemen,YEM,1.22,1.23,1.23,1.23,1.24,1.24,1.24,...,4.23,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14
175,Africa,South Africa,ZAF,1.34,1.32,1.31,1.29,1.28,1.21,1.21,...,11.90,11.80,11.60,11.30,11.20,11.20,11.10,11.00,10.10,10.30
213,Africa,Zambia,ZMB,1.26,1.26,1.27,1.27,1.27,1.27,1.28,...,2.78,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68
214,Africa,Zimbabwe,ZWE,1.94,1.94,1.94,1.94,1.95,1.95,1.95,...,5.34,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70

In [138]:
income_avg = pd.concat([extra_income_avg, countries_name_temp_2], ignore_index=True)
income_avg

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
2,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,Asia,United Arab Emirates,ARE,2.90,2.91,2.92,2.93,2.94,2.95,2.96,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,NaN,Slovakia,SVK,2.11,2.11,2.11,2.11,2.11,2.11,2.11,...,22.60,23.20,22.60,23.10,23.40,24.40,25.50,26.00,24.60,25.70
190,NaN,Saint Kitts and Nevis,KNA,918.00,0.92,0.92,0.92,0.92,0.92,0.92,...,16.40,17.10,18.00,18.00,18.40,17.90,18.30,18.70,15.00,14.60
191,NaN,Saint Lucia,LCA,318.00,318.00,318.00,318.00,318.00,318.00,318.00,...,16.50,16.20,17.60,15.70,19.30,19.90,20.30,20.50,16.60,17.00
192,NaN,Saint Vincent and the Grenadines,VCT,1.08,1.08,1.08,1.08,1.08,1.08,1.08,...,13.30,13.50,13.60,13.80,14.00,14.10,14.30,14.40,13.70,13.70
193,NaN,Micronesia,FSM,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,5.70,5.16,4.97,5.13,5.12,5.19,5.15,5.21,5.11,4.92

In [139]:
income_avg.shape

(194, 225)

In [140]:
income_avg = income_avg.dropna(subset=['2010'])
income_avg.shape

(192, 225)

In [141]:
income_avg.to_csv('./data/income_avg.csv', index=False)

FOR RENAMING THE COUNTRIES AND CONTINENTS

extra_income_ineq['country_code'] = extra_income_ineq['country_code'].fillna(extra_income_ineq['country'].map(dict_country_code_2))
extra_income_ineq['country'] = extra_income_ineq['country'].replace(rename_dict)
extra_income_ineq.head(50)
extra_income_ineq['nan_count'] = extra_income_ineq.isnull().sum(axis=1)
extra_income_ineq = extra_income_ineq.sort_values(by=['country_code', 'nan_count'])
extra_income_ineq
extra_income_ineq = extra_income_ineq.drop_duplicates(subset='country_code', keep='first')
extra_income_ineq.head(20)
extra_income_ineq.drop('nan_count', axis=1, inplace=True)
extra_income_ineq.to_csv('./data/happiness_score_full.csv', index=False)

In [143]:
women_parliament_full = pd.merge(countries, women_parliament, on='country', how='outer')

In [144]:
women_parliament_full['country_code'] = women_parliament_full['country_code'].fillna(women_parliament_full['country'].map(dict_country_code_2))
women_parliament_full['country'] = women_parliament_full['country'].replace(rename_dict)
women_parliament_full.head(50)

,continent,country,country_code,1945,1946,1947,1948,1949,1950,1951,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Asia,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.40,27.40,27.40,27.40,27.40,27.70,27.80,27.90,27.20,27.20
1,Europe,Albania,ALB,3.66,6.46,8.81,10.80,12.50,14.10,13.50,...,16.10,15.90,15.70,18.80,21.80,24.80,27.90,28.60,29.50,29.50
2,Africa,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.70,25.80,23.80,19.70,6.94,21.30,25.80,6.82,21.60,21.10
3,Europe,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.80,50.00,47.60,44.30,39.30,41.10,42.90,44.60,46.40,46.40
4,Africa,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.90,34.10,33.50,32.80,32.20,31.60,30.90,30.40,30.00,30.00
5,North America,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.10,20.50,20.80,21.20,23.90,26.50,29.00,31.40,31.40,31.40
6,South America,Argentina,ARG,NaN,0.00,0.00,0.00,5.99,11.40,16.20,...,37.70,37.70,37.70,37.40,37.10,38.00,38.90,39.40,39.90,40.70
7,Europe,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.20,10.70,11.80,12.90,14.20,15.60,17.10,24.20,23.50,23.50
8,Australia and Oceania,Australia,AUS,NaN,3.60,3.21,2.94,2.73,2.46,2.19,...,30.40,31.40,32.20,31.20,30.30,29.50,31.10,33.40,36.60,37.00
9,Europe,Austria,AUT,4.21,0.00,0.00,0.00,4.23,2.08,2.08,...,29.00,29.00,30.50,29.00,29.00,29.50,33.10,35.80,38.50,38.50
10,Europe,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.80,17.40
11,North America,Bahamas,BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.80,21.80
12,Asia,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.80,18.80
13,Asia,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.60,20.90
14,North America,Barbados,BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28.60,28.10,27.90,27.70,27.60,27.40,29.40,29.40
15,Europe,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.30,29.50,30.10,30.60,31.00,31.30,32.10,33.30,34.90,34.70
16,Europe,Belgium,BEL,NaN,2.17,2.49,2.80,3.10,3.62,3.68,...,39.90,40.90,41.90,43.00,43.10,43.10,43.20,43.30,43.30,41.90
17,North America,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.70,13.30,11.90,10.50,9.09,9.60,10.10,10.60,11.10,13.00
18,Africa,Benin,BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.43,8.13,7.83,7.53,7.23,7.23,7.23,7.23,7.23,7.23
19,Asia,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.72,8.33,6.94,8.61,10.30,11.90,13.60,15.30,15.30,15.30
20,South America,Bolivia,BOL,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,36.60,41.70,46.80,51.80,51.80,51.80,51.80,51.80,51.80,51.80
21,Europe,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.30,18.10,20.20,21.40,13.30,18.10,20.20,21.40,21.10,21.10
22,Africa,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.57,8.89,9.21,9.52,9.78,10.00,10.30,10.50,10.80,10.80
23,South America,Brazil,BRA,0.00,0.06,0.11,0.17,0.22,0.27,0.27,...,9.81,10.00,10.20,10.40,11.60,12.70,13.80,15.00,15.00,14.50
24,Asia,Brunei,BRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.45,9.09,9.09,9.09,9.09
25,Europe,Bulgaria,BGR,5.80,8.17,9.58,11.70,15.10,15.20,15.40,...,22.80,23.30,23.80,20.00,21.30,22.50,23.80,24.80,25.80,26.70
26,Africa,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.70,15.80,13.70,11.60,9.45,10.40,11.40,12.40,13.40,13.40
28,Asia,Burma (Myanmar),MMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Africa,Burundi,BDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.40,36.00,36.60,37.20,37.80,38.00,38.30,38.50,38.80,38.90
30,Asia,Cambodia,KHM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.70,19.50,20.30,19.10,18.20,17.40,16.60,16.00,19.30,18.70
31,Africa,Cameroon,CMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.40,17.70,20.00,21.20,22.40,23.60,24.80,26.00,29.30,31.10
32,North America,Canada,CAN,0.92,2.11,2.33,2.44,0.85,2.27,2.30,...,27.50,35.90,37.90,39.60,27.90,42.20,43.00,35.00,33.20,33.60
33,Africa,Cape Verde,CPV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.80,21.30,21.60,21.90,22.10,22.20,22.50,22.90,23.60,25.00
34,Africa,Central African Republic,CAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.57,8.57
35,Africa,Chad,TCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.90,15.40
36,South America,Chile,CHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.70,22.70
37,Asia,China,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.90,24.90
38,South America,Colombia,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.60,17.40,19.10,20.90,20.60,20.30,20.00,19.70,19.60,19.60
39,Africa,Comoros,COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.01,1.52,2.02,2.53,3.03,3.79,4.55,5.30,6.06,16.70
40,Africa,Congo,COG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,"Congo, Democratic Republic of",COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.94,9.10,9.25,9.40,9.55,9.70,9.85,10.00,12.00,14.30
42,Africa,"Congo, Democratic Republic of",COD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,Congo,COG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.90,7.35,11.50,19.40,16.10,14.70,14.00,13.80,13.60,13.60
44,North America,Costa Rica,CRI,NaN,NaN,NaN,NaN,0.00,1.67,3.33,...,37.30,36.00,34.60,33.30,36.40,39.50,42.50,45.60,45.60,45.60
45,NaN,Ivory Coast,CIV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.00,10.70,10.30,9.91,9.54,9.16,12.00,19.20,13.30,13.60
46,Europe,Croatia,HRV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.80,21.40,18.90,16.40,13.90,13.90,15.20,17.20,20.50,31.10
47,North America,Cuba,CUB,NaN,NaN,NaN,3.17,3.04,2.92,2.80,...,46.10,46.60,47.10,47.80,48.60,49.70,51.20,53.20,53.20,53.20
48,Europe,Cyprus,CYP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.70,13.30,14.70,15.60,16.20,16.70,16.80,17.10,17.90,19.60
49,Europe,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.20,17.30,20.80,16.10,18.30,19.10,22.00,16.10,20.60,20.30

In [145]:
women_parliament_full['nan_count'] = women_parliament_full.isnull().sum(axis=1)
women_parliament_full = women_parliament_full.sort_values(by=['country_code', 'nan_count'])
women_parliament_full

,continent,country,country_code,1945,1946,1947,1948,1949,1950,1951,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,nan_count
0,Asia,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.40,27.40,27.40,27.40,27.70,27.80,27.90,27.20,27.20,20
4,Africa,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.10,33.50,32.80,32.20,31.60,30.90,30.40,30.00,30.00,35
1,Europe,Albania,ALB,3.66,6.46,8.81,10.80,12.50,14.10,13.50,...,15.90,15.70,18.80,21.80,24.80,27.90,28.60,29.50,29.50,0
3,Europe,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.00,47.60,44.30,39.30,41.10,42.90,44.60,46.40,46.40,48
200,Asia,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.50,19.20,20.80,22.50,29.40,36.30,43.10,50.00,50.00,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Australia and Oceania,Samoa,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.28,6.48,7.66,8.84,10.00,10.00,10.00,10.00,10.00,19
209,Asia,Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.74,0.78,0.81,0.85,0.88,0.91,0.94,0.97,0.97,45
173,Africa,South Africa,ZAF,NaN,NaN,NaN,1.31,1.43,1.54,1.66,...,41.70,41.20,40.80,41.30,41.90,42.80,43.90,45.30,45.40,3
210,Africa,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.50,13.50,14.30,14.90,15.40,15.90,16.70,18.00,16.80,19
211,Africa,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.20,35.10,35.00,34.80,34.60,34.50,34.30,34.60,34.60,35

In [146]:
women_parliament_full = women_parliament_full.drop_duplicates(subset='country_code', keep='first')
women_parliament_full.head(20)

,continent,country,country_code,1945,1946,1947,1948,1949,1950,1951,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,nan_count
0,Asia,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.40,27.40,27.40,27.40,27.70,27.80,27.90,27.20,27.20,20
4,Africa,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.10,33.50,32.80,32.20,31.60,30.90,30.40,30.00,30.00,35
1,Europe,Albania,ALB,3.66,6.46,8.81,10.80,12.50,14.10,13.50,...,15.90,15.70,18.80,21.80,24.80,27.90,28.60,29.50,29.50,0
3,Europe,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.00,47.60,44.30,39.30,41.10,42.90,44.60,46.40,46.40,48
200,Asia,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.50,19.20,20.80,22.50,29.40,36.30,43.10,50.00,50.00,26
6,South America,Argentina,ARG,NaN,0.00,0.00,0.00,5.99,11.40,16.20,...,37.70,37.70,37.40,37.10,38.00,38.90,39.40,39.90,40.70,1
7,Europe,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.70,11.80,12.90,14.20,15.60,17.10,24.20,23.50,23.50,45
5,North America,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.50,20.80,21.20,23.90,26.50,29.00,31.40,31.40,31.40,39
8,Australia and Oceania,Australia,AUS,NaN,3.60,3.21,2.94,2.73,2.46,2.19,...,31.40,32.20,31.20,30.30,29.50,31.10,33.40,36.60,37.00,1
9,Europe,Austria,AUT,4.21,0.00,0.00,0.00,4.23,2.08,2.08,...,29.00,30.50,29.00,29.00,29.50,33.10,35.80,38.50,38.50,0
10,Europe,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.80,17.40,74
29,Africa,Burundi,BDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.00,36.60,37.20,37.80,38.00,38.30,38.50,38.80,38.90,16
16,Europe,Belgium,BEL,NaN,2.17,2.49,2.80,3.10,3.62,3.68,...,40.90,41.90,43.00,43.10,43.10,43.20,43.30,43.30,41.90,1
18,Africa,Benin,BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.13,7.83,7.53,7.23,7.23,7.23,7.23,7.23,7.23,34
27,NaN,Burkina,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.80,13.70,11.60,9.45,10.40,11.40,12.40,13.40,13.40,26
13,Asia,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.60,20.90,74
25,Europe,Bulgaria,BGR,5.80,8.17,9.58,11.70,15.10,15.20,15.40,...,23.30,23.80,20.00,21.30,22.50,23.80,24.80,25.80,26.70,0
12,Asia,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.80,18.80,74
11,North America,Bahamas,BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.80,21.80,74
21,Europe,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.10,20.20,21.40,13.30,18.10,20.20,21.40,21.10,21.10,45

In [147]:
women_parliament_full.drop('nan_count', axis=1, inplace=True)
women_parliament_full.to_csv('./data/women_parliament_full.csv', index=False)

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_88025/1818309450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_parliament_full.drop('nan_count', axis=1, inplace=True)

In [148]:
women_parliament_full

,continent,country,country_code,1945,1946,1947,1948,1949,1950,1951,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Asia,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.40,27.40,27.40,27.40,27.40,27.70,27.80,27.90,27.20,27.20
4,Africa,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.90,34.10,33.50,32.80,32.20,31.60,30.90,30.40,30.00,30.00
1,Europe,Albania,ALB,3.66,6.46,8.81,10.80,12.50,14.10,13.50,...,16.10,15.90,15.70,18.80,21.80,24.80,27.90,28.60,29.50,29.50
3,Europe,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.80,50.00,47.60,44.30,39.30,41.10,42.90,44.60,46.40,46.40
200,Asia,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.00,17.50,19.20,20.80,22.50,29.40,36.30,43.10,50.00,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Australia and Oceania,Samoa,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.08,5.28,6.48,7.66,8.84,10.00,10.00,10.00,10.00,10.00
209,Asia,Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.70,0.74,0.78,0.81,0.85,0.88,0.91,0.94,0.97,0.97
173,Africa,South Africa,ZAF,NaN,NaN,NaN,1.31,1.43,1.54,1.66,...,42.10,41.70,41.20,40.80,41.30,41.90,42.80,43.90,45.30,45.40
210,Africa,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.00,12.50,13.50,14.30,14.90,15.40,15.90,16.70,18.00,16.80
211,Africa,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.00,32.20,35.10,35.00,34.80,34.60,34.50,34.30,34.60,34.60